openapi: 3.2.0
info:
  title: DaaS IQ Subscriptions API
  description: 'Multi-cloud Virtual Desktop Infrastructure Management API (Default Version: v1.0)


    🔒 **Authentication**


    This API supports two authentication methods:


    **1. API Key (Bearer Token)** - Recommended for programmatic access

    - Create an API key at [API Key Management](https://support.controlup.com/docs/create-an-api-key)

    - Include in requests: `Authorization: Bearer YOUR_API_KEY`


    **2. Cookie Authentication** - For browser-based access

    - Login via DEX authentication service

    - The `user_dex_token` cookie will be automatically included'
  contact:
    name: ControlUp Support
    url: https://controlup.com/support
    email: support@controlup.com
  version: v1
  x-build-version: 1.0.107
servers:
- url: https://api.controlup.com/daas-iq/v1
tags:
- name: Subscriptions
paths:
  /cloud/subscriptions/{id}/credentials/verify:
    post:
      tags:
      - Subscriptions
      summary: Verify subscription credentials (Deprecated)
      description: "\n<b>DEPRECATED:</b> Use POST /api/v1/cloud/tenants/{tenantId}/credentials/{credentialId}/verify to verify tenant credentials instead.\n            Verifies cloud provider credentials and permissions synchronously. Check the IsSuccess field to determine if credentials are valid."
      operationId: VerifySubscriptionCredentials
      parameters:
      - name: id
        in: path
        description: The unique subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Verification completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
              example:
                isSuccess: true
                steps:
                - stepName: Authenticating with Azure AD
                  status: success
                  isSuccess: true
                  durationMs: 450
                - stepName: Listing subscriptions
                  status: success
                  isSuccess: true
                  durationMs: 320
                - stepName: Checking subscription access
                  status: success
                  isSuccess: true
                  durationMs: 180
                - stepName: Verifying Reader role
                  status: warning
                  detail: Role verification not fully implemented
                  isSuccess: false
                  durationMs: 220
                completedAt: '2025-10-09T14:30:00Z'
                durationMs: 1170
        '400':
          description: Bad request. Invalid subscription ID format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have permission to view subscriptions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{id}/credentials/verify/transcript:
    post:
      tags:
      - Subscriptions
      summary: Verify subscription credentials - transcript (Deprecated)
      description: "\n<b>DEPRECATED:</b> Use POST /api/v1/cloud/tenants/{tenantId}/credentials/{credentialId}/verify/transcript instead.\n            Verifies the connection and permissions with formatted output lines. Check IsSuccess field for result."
      operationId: VerifySubscriptionCredentialsTranscript
      parameters:
      - name: id
        in: path
        description: The unique subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Verification completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationTranscriptResponse'
              example:
                isSuccess: true
                output:
                - -- Running validations --
                - '  Authenticating with Azure AD ...... Success ✓'
                - '  Listing subscriptions ............. Success ✓'
                - '  Checking subscription access ...... Success ✓'
                - '  Verifying Reader role ............. Success ✓'
                - -- Validation success --
        '400':
          description: Bad request. Invalid subscription ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have subscription management permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{id}/credentials/verify/stream:
    get:
      tags:
      - Subscriptions
      summary: Verify subscription credentials - streaming (Deprecated)
      description: "Streams real-time cloud credentials verification progress over a WebSocket connection using structured JSON messages.\nAll messages are serialized as JSON with camelCase property names and inherit from ControlUp.Foundry.Domain.Models.Verification.Messages.VerificationMessage.\n            \n**Message Types (see Domain.Models.Verification.Messages namespace):**\n- ControlUp.Foundry.Domain.Models.Verification.Messages.VerificationStartedMessage: Verification process begins\n  - Properties: `type`, `timestamp`\n            \n- ControlUp.Foundry.Domain.Models.Verification.Messages.StepStartedMessage: A verification step begins\n  - Properties: `type`, `timestamp`, `stepNumber`, `stepName`\n            \n- ControlUp.Foundry.Domain.Models.Verification.Messages.StepCompletedMessage: A verification step completes\n  - Properties: `type`, `timestamp`, `stepNumber`, `stepName`, `status`, `duration`, `detail`\n  - `status` values: \"success\" | \"warning\" | \"failure\"\n            \n- ControlUp.Foundry.Domain.Models.Verification.Messages.VerificationCompletedMessage: Verification process ends\n  - Properties: `type`, `timestamp`, `success`, `duration`, `errorMessage`\n            \n**Usage Flow:**\n1. Client establishes WebSocket connection to `/api/v1/cloud/subscriptions/{id}/credentials/verify/stream`\n2. Server validates subscription exists and user has permission\n3. Server accepts WebSocket connection (HTTP 101 Switching Protocols)\n4. Server sends ControlUp.Foundry.Domain.Models.Verification.Messages.VerificationStartedMessage\n5. For each verification step (provider-specific):\n   - Server sends ControlUp.Foundry.Domain.Models.Verification.Messages.StepStartedMessage\n   - Server performs verification against cloud provider API\n   - Server sends ControlUp.Foundry.Domain.Models.Verification.Messages.StepCompletedMessage with results\n6. Server sends ControlUp.Foundry.Domain.Models.Verification.Messages.VerificationCompletedMessage\n7. Server closes WebSocket with normal closure or error status\n            \n**WebSocket Client Example (JavaScript):**\n```javascript\nconst subscriptionId = '123e4567-e89b-12d3-a456-426614174000';\nconst ws = new WebSocket(`wss://api.example.com/api/v1/cloud/subscriptions/${subscriptionId}/credentials/verify/stream`);\n            \nws.onopen = () => {\n  console.log('WebSocket connected - waiting for verification to start...');\n};\n            \nws.onmessage = (event) => {\n  const message = JSON.parse(event.data);\n            \n  switch(message.type) {\n    case 'verification_started':\n      console.log('Verification started at:', message.timestamp);\n      // Initialize UI for verification progress\n      break;\n            \n    case 'step_started':\n      console.log(`Step ${message.stepNumber}: ${message.stepName} - started`);\n      // Show spinner/progress indicator for this step\n      break;\n            \n    case 'step_completed':\n      console.log(`Step ${message.stepNumber}: ${message.stepName} - ${message.status} in ${message.duration}`);\n      if (message.detail) {\n        console.log(`  Detail: ${message.detail}`);\n      }\n      // Update UI with status icon: ✓ (success), ⚠ (warning), ✗ (failure)\n      break;\n            \n    case 'verification_completed':\n      console.log(`Verification ${message.success ? 'succeeded' : 'failed'} - Duration: ${message.duration}`);\n      if (message.errorMessage) {\n        console.error(`Error: ${message.errorMessage}`);\n      }\n      // Finalize UI with overall result\n      break;\n            \n    default:\n      console.warn('Unknown message type:', message.type);\n  }\n};\n            \nws.onerror = (error) => {\n  console.error('WebSocket error:', error);\n  // Handle connection errors\n};\n            \nws.onclose = (event) => {\n  console.log(`WebSocket closed - Code: ${event.code}, Reason: ${event.reason}`);\n  // Clean up UI and resources\n};\n```\n            \n**Example Message Sequence (Azure Subscription):**\n```json\n{\"type\":\"verification_started\",\"timestamp\":\"2025-10-23T10:30:00.000Z\"}\n{\"type\":\"step_started\",\"stepNumber\":1,\"stepName\":\"Validating Azure credentials format\",\"timestamp\":\"2025-10-23T10:30:00.100Z\"}\n{\"type\":\"step_completed\",\"stepNumber\":1,\"stepName\":\"Validating Azure credentials format\",\"status\":\"success\",\"duration\":\"00:00:00.150\",\"timestamp\":\"2025-10-23T10:30:00.250Z\"}\n{\"type\":\"step_started\",\"stepNumber\":2,\"stepName\":\"Testing connectivity to Azure Resource Manager\",\"timestamp\":\"2025-10-23T10:30:00.300Z\"}\n{\"type\":\"step_completed\",\"stepNumber\":2,\"stepName\":\"Testing connectivity to Azure Resource Manager\",\"status\":\"success\",\"duration\":\"00:00:01.200\",\"detail\":\"Successfully authenticated with tenant ID: abc123\",\"timestamp\":\"2025-10-23T10:30:01.500Z\"}\n{\"type\":\"step_started\",\"stepNumber\":3,\"stepName\":\"Verifying required Azure permissions\",\"timestamp\":\"2025-10-23T10:30:01.550Z\"}\n{\"type\":\"step_completed\",\"stepNumber\":3,\"stepName\":\"Verifying required Azure permissions\",\"status\":\"failure\",\"duration\":\"00:00:00.800\",\"detail\":\"Missing required role: Virtual Machine Contributor\",\"timestamp\":\"2025-10-23T10:30:02.350Z\"}\n{\"type\":\"verification_completed\",\"success\":false,\"duration\":\"00:00:02.500\",\"errorMessage\":\"Verification failed\",\"timestamp\":\"2025-10-23T10:30:02.500Z\"}\n```\n            \n**Notes:**\n- All timestamps are in ISO 8601 UTC format\n- Duration fields are in TimeSpan format (hh:mm:ss.fffffff)\n- Step numbers are sequential, starting from 1\n- The `detail` field in ControlUp.Foundry.Domain.Models.Verification.Messages.StepCompletedMessage is optional (null for success, may contain info for warnings/failures)\n- WebSocket closes automatically after sending ControlUp.Foundry.Domain.Models.Verification.Messages.VerificationCompletedMessage\n- If an error occurs during verification, the server will attempt to close the WebSocket with appropriate status code"
      parameters:
      - name: id
        in: path
        description: The unique cloud subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '101':
          description: Switching Protocols - WebSocket connection established.
        '200':
          description: OK
        '400':
          description: Bad request. Invalid subscription ID or not a WebSocket request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have permission to view subscriptions in this organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified cloud subscription does not exist or does not belong to the current organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error occurred during verification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{id}/credentials/verify/sse:
    post:
      tags:
      - Subscriptions
      summary: Verify subscription credentials - streaming (Deprecated)
      description: '**DEPRECATED:** Use tenant-based credential verification endpoints instead.

        SSE replacement for the WebSocket `/verify/stream` endpoint. Same message format, simpler protocol.'
      parameters:
      - name: id
        in: path
        description: The unique subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: SSE stream started successfully.
        '400':
          description: Bad request. Invalid tenant ID or tenant has no default credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view tenants permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified tenant does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error occurred during verification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/metadata/regions:
    get:
      tags:
      - Subscriptions
      summary: Get available regions for a subscription
      description: 'Returns the regions the subscription can deploy into, paginated, filterable and sortable.

        Region identity and display names only — availability zones are omitted here and available per region from the single-region lookup.'
      operationId: GetRegions
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: 'Optional filter expression.


          Supports JSON and RQL formats:


          - JSON: {"and":[{"field":"status","op":"eq","value":"Active"},{"field":"name","op":"ct","value":"Smith, John"}]}

          - RQL: and(eq(status,Active),ct(name,Smith%2C%20John)) — values are URL-decoded; encode reserved characters


          Operators:

          and, or, not (logical); eq, neq, ct, nct, sw, nsw, ew, new, gt, gte, lt, lte (predicate)


          Fields (names are matched case-insensitively):

          displayName, geography, isPhysical, name, regionalDisplayName, regionCategory'
        schema:
          type: string
        examples:
          json:
            summary: json
            value: '{"field":"name","op":"eq","value":"value"}'
          rql:
            summary: rql
            value: eq(name,value)
        x-foundry-filter:
          fields:
          - displayName
          - geography
          - isPhysical
          - name
          - regionalDisplayName
          - regionCategory
          operators:
            logical:
            - and
            - or
            - not
            predicate:
            - eq
            - neq
            - ct
            - nct
            - sw
            - nsw
            - ew
            - new
            - gt
            - gte
            - lt
            - lte
          dynamicPaths: false
      - name: sort
        in: query
        description: 'Sort expression for ordering results.


          Format:

          field:direction,otherField:direction


          Directions: asc, desc, ascending, descending — defaults to ascending when omitted


          Fields (names are matched case-insensitively):

          displayName, geography, isPhysical, name, regionalDisplayName, regionCategory


          Default when omitted: displayName:asc.'
        schema:
          type: string
        examples:
          default:
            summary: default
            value: displayName:asc
        x-foundry-sort:
          fields:
          - displayName
          - geography
          - isPhysical
          - name
          - regionalDisplayName
          - regionCategory
          dynamicPaths: false
          defaultField: displayName
          defaultAscending: true
      - name: page
        in: query
        description: 'The page number to retrieve (1-based). Default: 1.'
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'The number of items per page (1-100). Default: 50.'
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved regions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionMetadataDtoPagedResultDto'
        '400':
          description: Bad request. Invalid subscription ID or filter/sort parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view subscriptions permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/metadata/regions/{region}:
    get:
      tags:
      - Subscriptions
      summary: Get region metadata
      description: 'Returns one named region''s metadata in the subscription''s context, including the availability zones that the region list omits.

        Describes a single region rather than enumerating which regions are available.'
      operationId: GetRegionMetadata
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: region
        in: path
        description: Region code.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved region metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionMetadataDto'
        '400':
          description: Bad request. Subscription ID is invalid or region is missing or blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view subscriptions permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription or region does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/metadata/vm-sizes:
    get:
      tags:
      - Subscriptions
      summary: Get available VM sizes for a region with filtering, sorting, and pagination support
      description: 'Returns the VM SKUs offered in a region with full specifications: CPU count, memory, disk limits, IOPS, and capability flags.

        Describes what each SKU is capable of, not whether the subscription has quota left to deploy one.

        Supports filtering, sorting, and pagination for large result sets.'
      operationId: GetVmSizes
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: region
        in: query
        description: 'Azure region/location (e.g., "eastus", "westeurope").

          Required.'
        required: true
        schema:
          maxLength: 64
          type: string
      - name: filter
        in: query
        description: 'Optional filter expression.


          Supports JSON and RQL formats:


          - JSON: {"and":[{"field":"status","op":"eq","value":"Active"},{"field":"name","op":"ct","value":"Smith, John"}]}

          - RQL: and(eq(status,Active),ct(name,Smith%2C%20John)) — values are URL-decoded; encode reserved characters


          Operators:

          and, or, not (logical); eq, neq, ct, nct, sw, nsw, ew, new, gt, gte, lt, lte (predicate)


          Fields (names are matched case-insensitively):

          cores, cpuArchitectureType, displayName, family, isRestricted, localStorageBytes, maxDataDisks, maxIops, maxNetworkInterfaces, memoryBytes, name, osDiskSizeBytes, size, supportsAcceleratedNetworking, supportsDiskControllerNVMe, supportsDiskControllerSCSI, supportsEphemeralOSDisk, supportsHyperVGenerationV1, supportsHyperVGenerationV2, supportsPremiumStorage, supportsTrustedLaunch, tier'
        schema:
          type: string
        examples:
          json:
            summary: json
            value: '{"field":"name","op":"eq","value":"value"}'
          rql:
            summary: rql
            value: eq(name,value)
        x-foundry-filter:
          fields:
          - cores
          - cpuArchitectureType
          - displayName
          - family
          - isRestricted
          - localStorageBytes
          - maxDataDisks
          - maxIops
          - maxNetworkInterfaces
          - memoryBytes
          - name
          - osDiskSizeBytes
          - size
          - supportsAcceleratedNetworking
          - supportsDiskControllerNVMe
          - supportsDiskControllerSCSI
          - supportsEphemeralOSDisk
          - supportsHyperVGenerationV1
          - supportsHyperVGenerationV2
          - supportsPremiumStorage
          - supportsTrustedLaunch
          - tier
          operators:
            logical:
            - and
            - or
            - not
            predicate:
            - eq
            - neq
            - ct
            - nct
            - sw
            - nsw
            - ew
            - new
            - gt
            - gte
            - lt
            - lte
          dynamicPaths: false
      - name: sort
        in: query
        description: 'Sort expression for ordering results.


          Format:

          field:direction,otherField:direction


          Directions: asc, desc, ascending, descending — defaults to ascending when omitted


          Fields (names are matched case-insensitively):

          cores, cpuArchitectureType, displayName, family, isRestricted, localStorageBytes, maxDataDisks, maxIops, maxNetworkInterfaces, memoryBytes, name, osDiskSizeBytes, size, supportsAcceleratedNetworking, supportsDiskControllerNVMe, supportsDiskControllerSCSI, supportsEphemeralOSDisk, supportsHyperVGenerationV1, supportsHyperVGenerationV2, supportsPremiumStorage, supportsTrustedLaunch, tier


          Default when omitted: name:asc.'
        schema:
          type: string
        examples:
          default:
            summary: default
            value: name:asc
        x-foundry-sort:
          fields:
          - cores
          - cpuArchitectureType
          - displayName
          - family
          - isRestricted
          - localStorageBytes
          - maxDataDisks
          - maxIops
          - maxNetworkInterfaces
          - memoryBytes
          - name
          - osDiskSizeBytes
          - size
          - supportsAcceleratedNetworking
          - supportsDiskControllerNVMe
          - supportsDiskControllerSCSI
          - supportsEphemeralOSDisk
          - supportsHyperVGenerationV1
          - supportsHyperVGenerationV2
          - supportsPremiumStorage
          - supportsTrustedLaunch
          - tier
          dynamicPaths: false
          defaultField: name
          defaultAscending: true
      - name: page
        in: query
        description: 'The page number to retrieve (1-based). Default: 1.'
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'The number of items per page (1-100). Default: 50.'
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved VM sizes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VmSizeDtoPagedResultDto'
              example:
                items:
                - name: Standard_D2s_v5
                  displayName: Standard D2s_v5
                  tier: Standard
                  size: D2s_v5
                  cores: 2
                  memoryBytes: 8589934592
                  maxDataDisks: 4
                  osDiskSizeBytes: 1098437885952
                  localStorageBytes: 0
                  family: standardDSv5Family
                  maxIops: 3750
                  maxNetworkInterfaces: 2
                  supportsPremiumStorage: true
                  supportsAcceleratedNetworking: true
                  supportsEphemeralOSDisk: true
                  supportsTrustedLaunch: true
                  availableZones:
                  - '1'
                  - '2'
                  - '3'
                  hyperVGenerations:
                  - V1
                  - V2
                  diskControllerTypes:
                  - SCSI
                  cpuArchitectureType: x64
                  supportsHyperVGenerationV1: true
                  supportsHyperVGenerationV2: true
                  supportsDiskControllerSCSI: true
                  supportsDiskControllerNVMe: false
                  isRestricted: false
                - name: Standard_D2s_v6
                  displayName: Standard D2s_v6
                  tier: Standard
                  size: D2s_v6
                  cores: 2
                  memoryBytes: 8589934592
                  maxDataDisks: 4
                  osDiskSizeBytes: 1098437885952
                  localStorageBytes: 0
                  family: standardDSv6Family
                  maxIops: 4000
                  maxNetworkInterfaces: 2
                  supportsPremiumStorage: true
                  supportsAcceleratedNetworking: true
                  supportsEphemeralOSDisk: true
                  supportsTrustedLaunch: false
                  availableZones:
                  - '1'
                  - '2'
                  - '3'
                  hyperVGenerations:
                  - V2
                  diskControllerTypes:
                  - NVMe
                  cpuArchitectureType: Arm64
                  supportsHyperVGenerationV1: false
                  supportsHyperVGenerationV2: true
                  supportsDiskControllerSCSI: false
                  supportsDiskControllerNVMe: true
                  isRestricted: false
                page: 1
                pageSize: 2
                count: 2
                hasMore: true
                totalCount: 120
        '400':
          description: Bad request. Invalid subscription ID, region, or filter/sort parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view subscriptions permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription or region does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/metadata/os-disks:
    get:
      tags:
      - Subscriptions
      summary: Get available OS disk size options for a region
      description: 'Returns a flat, paged list of the OS disk size options offered for the subscription and region,

        optionally narrowed to an availability zone.

        Disk sizing choices only — not VM compute specifications, and not the subscription''s remaining quota.'
      operationId: GetOsDisks
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: region
        in: query
        description: 'Azure region/location (e.g., "eastus", "westeurope").

          Required.'
        required: true
        schema:
          maxLength: 64
          type: string
      - name: filter
        in: query
        description: 'Optional filter expression.


          Supports JSON and RQL formats:


          - JSON: {"and":[{"field":"status","op":"eq","value":"Active"},{"field":"name","op":"ct","value":"Smith, John"}]}

          - RQL: and(eq(status,Active),ct(name,Smith%2C%20John)) — values are URL-decoded; encode reserved characters


          Operators:

          and, or, not (logical); eq, neq, ct, nct, sw, nsw, ew, new, gt, gte, lt, lte (predicate)


          Fields (names are matched case-insensitively):

          maxSizeBytes, minSizeBytes, size, tier, type, typeDisplayName'
        schema:
          type: string
        examples:
          json:
            summary: json
            value: '{"field":"maxSizeBytes","op":"eq","value":"value"}'
          rql:
            summary: rql
            value: eq(maxSizeBytes,value)
        x-foundry-filter:
          fields:
          - maxSizeBytes
          - minSizeBytes
          - size
          - tier
          - type
          - typeDisplayName
          operators:
            logical:
            - and
            - or
            - not
            predicate:
            - eq
            - neq
            - ct
            - nct
            - sw
            - nsw
            - ew
            - new
            - gt
            - gte
            - lt
            - lte
          dynamicPaths: false
      - name: sort
        in: query
        description: 'Sort expression for ordering results.


          Format:

          field:direction,otherField:direction


          Directions: asc, desc, ascending, descending — defaults to ascending when omitted


          Fields (names are matched case-insensitively):

          maxSizeBytes, minSizeBytes, size, tier, type, typeDisplayName


          Default when omitted: size:asc.'
        schema:
          type: string
        examples:
          default:
            summary: default
            value: size:asc
        x-foundry-sort:
          fields:
          - maxSizeBytes
          - minSizeBytes
          - size
          - tier
          - type
          - typeDisplayName
          dynamicPaths: false
          defaultField: size
          defaultAscending: true
      - name: page
        in: query
        description: 'The page number to retrieve (1-based). Default: 1.'
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'The number of items per page (1-100). Default: 50.'
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved OS disk size options.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskSizeDtoPagedResultDto'
        '400':
          description: Bad request. Invalid subscription ID, region, or query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view subscriptions permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription or region does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/metadata/compute-quota:
    get:
      tags:
      - Subscriptions
      summary: Get compute quota usage for a region
      description: "Returns current vCPU quota usage and limits for the subscription in a region, per VM family\n(for example standardDSv3Family) plus the total regional quota.\nAnswers whether there is headroom to deploy, which the VM size catalog cannot; compare against a SKU's family and core count.\nSupports filtering, sorting, and pagination, and is cached server-side for 5 minutes, so very recent deployments may not be reflected.\n            \nUseful filter examples:\n- Families with active usage: filter=gt(currentUsage,0)\n- Specific family lookup: filter=eq(name,standardDSv3Family)\n- Total regional quota: filter=eq(name,cores)"
      operationId: GetComputeQuota
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: region
        in: query
        description: 'Azure region/location (e.g., "eastus", "westeurope").

          Required.'
        required: true
        schema:
          maxLength: 64
          type: string
      - name: filter
        in: query
        description: 'Optional filter expression.


          Supports JSON and RQL formats:


          - JSON: {"and":[{"field":"status","op":"eq","value":"Active"},{"field":"name","op":"ct","value":"Smith, John"}]}

          - RQL: and(eq(status,Active),ct(name,Smith%2C%20John)) — values are URL-decoded; encode reserved characters


          Operators:

          and, or, not (logical); eq, neq, ct, nct, sw, nsw, ew, new, gt, gte, lt, lte (predicate)


          Fields (names are matched case-insensitively):

          currentUsage, displayName, limit, name'
        schema:
          type: string
        examples:
          json:
            summary: json
            value: '{"field":"name","op":"eq","value":"value"}'
          rql:
            summary: rql
            value: eq(name,value)
        x-foundry-filter:
          fields:
          - currentUsage
          - displayName
          - limit
          - name
          operators:
            logical:
            - and
            - or
            - not
            predicate:
            - eq
            - neq
            - ct
            - nct
            - sw
            - nsw
            - ew
            - new
            - gt
            - gte
            - lt
            - lte
          dynamicPaths: false
      - name: sort
        in: query
        description: 'Sort expression for ordering results.


          Format:

          field:direction,otherField:direction


          Directions: asc, desc, ascending, descending — defaults to ascending when omitted


          Fields (names are matched case-insensitively):

          currentUsage, displayName, limit, name


          Default when omitted: name:asc.'
        schema:
          type: string
        examples:
          default:
            summary: default
            value: name:asc
        x-foundry-sort:
          fields:
          - currentUsage
          - displayName
          - limit
          - name
          dynamicPaths: false
          defaultField: name
          defaultAscending: true
      - name: page
        in: query
        description: 'The page number to retrieve (1-based). Default: 1.'
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'The number of items per page (1-100). Default: 50.'
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved compute quota usage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeQuotaDtoPagedResultDto'
        '400':
          description: Bad request. Invalid subscription ID or missing region.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view subscriptions permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription or region does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/preflight/permissions/host-pool-create:
    get:
      tags:
      - Subscriptions
      summary: Check host pool create permissions
      description: "Advisory check that the subscription's service principal can create AVD control-plane\nresources: host pool, application group, and workspace update. Covers the control-plane\nportion of the Create Host Pool wizard (POST host-pool-deployments); when initial session\nhosts will also be created, additionally call the session host create pre-flight.\n            \nEach required permission is evaluated at exactly the scope the create flow exercises it\nagainst (inherited grants from resource group, subscription, or management group count).\n            \nAdvisory only — a failed check never blocks creation. The result carries one of three statuses:\n- granted: all required actions confirmed at their target scopes.\n- missingPermissions: at least one action could not be confirmed; display the returned message as a warning.\n- unknown: the check itself could not run (transient error); do not show a warning."
      operationId: CheckHostPoolCreatePermissions
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: workspaceResourceId
        in: query
        description: 'ARM resource ID of the workspace that will be linked to the application group.

          Workspace permissions are evaluated at this exact scope (inherited grants included).

          Must belong to the selected subscription.'
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: query
        description: 'Existing Azure resource group the operation deploys into: the control-plane resource

          group for host pool creation, the VM deployment resource group for session host creation.'
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w.()]{0,89}[-\w()]$
          type: string
      responses:
        '200':
          description: Pre-flight check completed (any status, including missingPermissions).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionPreflightResultDto'
              example:
                status: missingPermissions
                missingPermissions:
                - action: Microsoft.DesktopVirtualization/hostPools/write
                  scope: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-avd-prod
                  capability: hostPool
                - action: Microsoft.Network/virtualNetworks/subnets/join/action
                  scope: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-network/providers/Microsoft.Network/virtualNetworks/vnet-prod/subnets/snet-avd
                  capability: network
                message: The service principal for this subscription may not have permission to create resources. Contact your Azure admin.
        '400':
          description: Bad request. Missing or invalid resource group name or resource ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have host pool creation permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/preflight/permissions/session-host-create:
    get:
      tags:
      - Subscriptions
      summary: Check session host create permissions
      description: "Advisory check that the subscription's service principal can provision session host VMs:\nVM, NIC, and disk creation, VM extensions, run commands, subnet join, gallery image read,\nand host pool registration-token generation. Covers three flows: initial session hosts at\nhost pool creation (host count greater than zero), POST session-host-deployments, and\nautoscale scale-out.\n            \nEach required permission is evaluated at exactly the scope the provisioning flow exercises\nit against (inherited grants from resource group, subscription, or management group count).\n            \nAdvisory only — a failed check never blocks creation. The result carries one of three statuses:\n- granted: all required actions confirmed at their target scopes.\n- missingPermissions: at least one action could not be confirmed; display the returned message as a warning.\n- unknown: the check itself could not run (transient error); do not show a warning."
      operationId: CheckSessionHostCreatePermissions
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: hostPoolResourceGroupName
        in: query
        description: 'Control-plane resource group containing the host pool. Host pool permissions

          (registration-token generation) are evaluated at this scope — relevant when the host

          pool lives in a different resource group than the session host VMs.'
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w.()]{0,89}[-\w()]$
          type: string
      - name: subnetResourceId
        in: query
        description: 'ARM resource ID of the subnet session host NICs will join.

          Network join permissions are evaluated at this exact scope (inherited grants included).

          Must belong to the selected subscription.'
        required: true
        schema:
          type: string
      - name: imageVersionResourceId
        in: query
        description: 'ARM resource ID of the gallery image version used for session host VMs.

          Gallery read permissions are evaluated at the image version and its parent image

          definition. May belong to a different subscription (shared image galleries).'
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: query
        description: 'Existing Azure resource group the operation deploys into: the control-plane resource

          group for host pool creation, the VM deployment resource group for session host creation.'
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w.()]{0,89}[-\w()]$
          type: string
      responses:
        '200':
          description: Pre-flight check completed (any status, including missingPermissions).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionPreflightResultDto'
              example:
                status: missingPermissions
                missingPermissions:
                - action: Microsoft.DesktopVirtualization/hostPools/write
                  scope: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-avd-prod
                  capability: hostPool
                - action: Microsoft.Network/virtualNetworks/subnets/join/action
                  scope: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-network/providers/Microsoft.Network/virtualNetworks/vnet-prod/subnets/snet-avd
                  capability: network
                message: The service principal for this subscription may not have permission to create resources. Contact your Azure admin.
        '400':
          description: Bad request. Missing or invalid resource group name or resource ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have host pool creation permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/lookup/resources/virtual-networks:
    get:
      tags:
      - Subscriptions
      summary: Lookup virtual networks in a subscription
      description: Queries Azure for virtual networks in the subscription, to choose where session hosts will be placed.
      operationId: LookupVirtualNetworks
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: 'Optional filter expression.


          Supports JSON and RQL formats:


          - JSON: {"and":[{"field":"status","op":"eq","value":"Active"},{"field":"name","op":"ct","value":"Smith, John"}]}

          - RQL: and(eq(status,Active),ct(name,Smith%2C%20John)) — values are URL-decoded; encode reserved characters


          Operators:

          and, or, not (logical); eq, neq, ct, nct, sw, nsw, ew, new (predicate)


          Fields (names are matched case-insensitively):

          id, isAlreadyManaged, location, name, resourceGroup, subscriptionId, type'
        schema:
          type: string
        examples:
          json:
            summary: json
            value: '{"field":"name","op":"eq","value":"value"}'
          rql:
            summary: rql
            value: eq(name,value)
        x-foundry-filter:
          fields:
          - id
          - isAlreadyManaged
          - location
          - name
          - resourceGroup
          - subscriptionId
          - type
          operators:
            logical:
            - and
            - or
            - not
            predicate:
            - eq
            - neq
            - ct
            - nct
            - sw
            - nsw
            - ew
            - new
          dynamicPaths: false
      - name: sort
        in: query
        description: 'Sort expression for ordering results.


          Format:

          field:direction,otherField:direction


          Directions: asc, desc, ascending, descending — defaults to ascending when omitted


          Fields (names are matched case-insensitively):

          id, isAlreadyManaged, location, name, resourceGroup, subscriptionId, tags, type


          Default when omitted: name:asc.


          Dynamic properties.* field paths are also allowed (for example properties.hostPoolType).'
        schema:
          type: string
        examples:
          default:
            summary: default
            value: name:asc
        x-foundry-sort:
          fields:
          - id
          - isAlreadyManaged
          - location
          - name
          - resourceGroup
          - subscriptionId
          - tags
          - type
          dynamicPaths: true
          defaultField: name
          defaultAscending: true
      - name: page
        in: query
        description: 'The page number to retrieve (1-based). Default: 1.'
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'The number of items per page (1-100). Default: 50.'
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Virtual networks retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookedUpVirtualNetworkDtoPagedResultDto'
        '400':
          description: Bad request. Invalid pagination, sort, or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/lookup/resources/virtual-machines:
    get:
      tags:
      - Subscriptions
      summary: Lookup virtual machines in a subscription
      description: 'Queries Azure for virtual machines in the subscription, to pick an existing VM to promote to a Master Image.

        Lists VMs whether or not DaaS IQ manages them.'
      operationId: LookupVirtualMachines
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: 'Optional filter expression.


          Supports JSON and RQL formats:


          - JSON: {"and":[{"field":"status","op":"eq","value":"Active"},{"field":"name","op":"ct","value":"Smith, John"}]}

          - RQL: and(eq(status,Active),ct(name,Smith%2C%20John)) — values are URL-decoded; encode reserved characters


          Operators:

          and, or, not (logical); eq, neq, ct, nct, sw, nsw, ew, new (predicate)


          Fields (names are matched case-insensitively):

          generation, id, isAlreadyManaged, location, name, osType, powerState, resourceGroup, subnetId, subscriptionId, type, vmSize, vnetId'
        schema:
          type: string
        examples:
          json:
            summary: json
            value: '{"field":"name","op":"eq","value":"value"}'
          rql:
            summary: rql
            value: eq(name,value)
        x-foundry-filter:
          fields:
          - generation
          - id
          - isAlreadyManaged
          - location
          - name
          - osType
          - powerState
          - resourceGroup
          - subnetId
          - subscriptionId
          - type
          - vmSize
          - vnetId
          operators:
            logical:
            - and
            - or
            - not
            predicate:
            - eq
            - neq
            - ct
            - nct
            - sw
            - nsw
            - ew
            - new
          dynamicPaths: false
      - name: sort
        in: query
        description: 'Sort expression for ordering results.


          Format:

          field:direction,otherField:direction


          Directions: asc, desc, ascending, descending — defaults to ascending when omitted


          Fields (names are matched case-insensitively):

          generation, id, isAlreadyManaged, location, name, osType, powerState, resourceGroup, subnetId, subscriptionId, tags, type, vmSize, vnetId


          Default when omitted: name:asc.


          Dynamic properties.* field paths are also allowed (for example properties.hostPoolType).'
        schema:
          type: string
        examples:
          default:
            summary: default
            value: name:asc
        x-foundry-sort:
          fields:
          - generation
          - id
          - isAlreadyManaged
          - location
          - name
          - osType
          - powerState
          - resourceGroup
          - subnetId
          - subscriptionId
          - tags
          - type
          - vmSize
          - vnetId
          dynamicPaths: true
          defaultField: name
          defaultAscending: true
      - name: page
        in: query
        description: 'The page number to retrieve (1-based). Default: 1.'
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'The number of items per page (1-100). Default: 50.'
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Virtual machines retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookedUpVirtualMachineDtoPagedResultDto'
        '400':
          description: Bad request. Invalid pagination, sort, or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/lookup/resources/galleries:
    get:
      tags:
      - Subscriptions
      summary: Lookup Azure Compute Galleries in a subscription
      description: 'Queries Azure for Compute Galleries — the containers holding image definitions and their versions.

        Top level of the gallery hierarchy: the galleries themselves, not the images inside them.'
      operationId: LookupGalleries
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: 'Optional filter expression.


          Supports JSON and RQL formats:


          - JSON: {"and":[{"field":"status","op":"eq","value":"Active"},{"field":"name","op":"ct","value":"Smith, John"}]}

          - RQL: and(eq(status,Active),ct(name,Smith%2C%20John)) — values are URL-decoded; encode reserved characters


          Operators:

          and, or, not (logical); eq, neq, ct, nct, sw, nsw, ew, new (predicate)


          Fields (names are matched case-insensitively):

          id, isAlreadyManaged, location, name, resourceGroup, subscriptionId, type'
        schema:
          type: string
        examples:
          json:
            summary: json
            value: '{"field":"name","op":"eq","value":"value"}'
          rql:
            summary: rql
            value: eq(name,value)
        x-foundry-filter:
          fields:
          - id
          - isAlreadyManaged
          - location
          - name
          - resourceGroup
          - subscriptionId
          - type
          operators:
            logical:
            - and
            - or
            - not
            predicate:
            - eq
            - neq
            - ct
            - nct
            - sw
            - nsw
            - ew
            - new
          dynamicPaths: false
      - name: sort
        in: query
        description: 'Sort expression for ordering results.


          Format:

          field:direction,otherField:direction


          Directions: asc, desc, ascending, descending — defaults to ascending when omitted


          Fields (names are matched case-insensitively):

          id, isAlreadyManaged, location, name, resourceGroup, subscriptionId, tags, type


          Default when omitted: name:asc.


          Dynamic properties.* field paths are also allowed (for example properties.hostPoolType).'
        schema:
          type: string
        examples:
          default:
            summary: default
            value: name:asc
        x-foundry-sort:
          fields:
          - id
          - isAlreadyManaged
          - location
          - name
          - resourceGroup
          - subscriptionId
          - tags
          - type
          dynamicPaths: true
          defaultField: name
          defaultAscending: true
      - name: page
        in: query
        description: 'The page number to retrieve (1-based). Default: 1.'
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'The number of items per page (1-100). Default: 50.'
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Galleries retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookedUpGalleryDtoPagedResultDto'
        '400':
          description: Bad request. Invalid pagination, sort, or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/lookup/resource-groups:
    get:
      tags:
      - Subscriptions
      summary: Lookup Azure resource groups in a subscription
      description: 'Queries Azure for resource groups in the subscription, to choose where new resources will be created.

        The containers themselves, not the resources they hold.'
      operationId: LookupResourceGroups
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: 'Optional filter expression.


          Supports JSON and RQL formats:


          - JSON: {"and":[{"field":"status","op":"eq","value":"Active"},{"field":"name","op":"ct","value":"Smith, John"}]}

          - RQL: and(eq(status,Active),ct(name,Smith%2C%20John)) — values are URL-decoded; encode reserved characters


          Operators:

          and, or, not (logical); eq, neq, ct, nct, sw, nsw, ew, new (predicate)


          Fields (names are matched case-insensitively):

          id, isAlreadyManaged, location, name, resourceGroup, subscriptionId, type'
        schema:
          type: string
        examples:
          json:
            summary: json
            value: '{"field":"name","op":"eq","value":"value"}'
          rql:
            summary: rql
            value: eq(name,value)
        x-foundry-filter:
          fields:
          - id
          - isAlreadyManaged
          - location
          - name
          - resourceGroup
          - subscriptionId
          - type
          operators:
            logical:
            - and
            - or
            - not
            predicate:
            - eq
            - neq
            - ct
            - nct
            - sw
            - nsw
            - ew
            - new
          dynamicPaths: false
      - name: sort
        in: query
        description: 'Sort expression for ordering results.


          Format:

          field:direction,otherField:direction


          Directions: asc, desc, ascending, descending — defaults to ascending when omitted


          Fields (names are matched case-insensitively):

          id, isAlreadyManaged, location, name, resourceGroup, subscriptionId, tags, type


          Default when omitted: name:asc.


          Dynamic properties.* field paths are also allowed (for example properties.hostPoolType).'
        schema:
          type: string
        examples:
          default:
            summary: default
            value: name:asc
        x-foundry-sort:
          fields:
          - id
          - isAlreadyManaged
          - location
          - name
          - resourceGroup
          - subscriptionId
          - tags
          - type
          dynamicPaths: true
          defaultField: name
          defaultAscending: true
      - name: page
        in: query
        description: 'The page number to retrieve (1-based). Default: 1.'
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'The number of items per page (1-100). Default: 50.'
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Resource groups retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookedUpResourceGroupDtoPagedResultDto'
        '400':
          description: Bad request. Invalid pagination, sort, or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/lookup/resources/workspaces:
    get:
      tags:
      - Subscriptions
      summary: Lookup AVD workspaces in a subscription
      description: 'Queries Azure for AVD workspaces — the object that publishes application groups to users.

        Not host pools: a workspace holds no session hosts and reaches pools only via its application groups.'
      operationId: LookupWorkspaces
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: 'Optional filter expression.


          Supports JSON and RQL formats:


          - JSON: {"and":[{"field":"status","op":"eq","value":"Active"},{"field":"name","op":"ct","value":"Smith, John"}]}

          - RQL: and(eq(status,Active),ct(name,Smith%2C%20John)) — values are URL-decoded; encode reserved characters


          Operators:

          and, or, not (logical); eq, neq, ct, nct, sw, nsw, ew, new (predicate)


          Fields (names are matched case-insensitively):

          id, isAlreadyManaged, location, name, resourceGroup, subscriptionId, type'
        schema:
          type: string
        examples:
          json:
            summary: json
            value: '{"field":"name","op":"eq","value":"value"}'
          rql:
            summary: rql
            value: eq(name,value)
        x-foundry-filter:
          fields:
          - id
          - isAlreadyManaged
          - location
          - name
          - resourceGroup
          - subscriptionId
          - type
          operators:
            logical:
            - and
            - or
            - not
            predicate:
            - eq
            - neq
            - ct
            - nct
            - sw
            - nsw
            - ew
            - new
          dynamicPaths: false
      - name: sort
        in: query
        description: 'Sort expression for ordering results.


          Format:

          field:direction,otherField:direction


          Directions: asc, desc, ascending, descending — defaults to ascending when omitted


          Fields (names are matched case-insensitively):

          id, isAlreadyManaged, location, name, resourceGroup, subscriptionId, tags, type


          Default when omitted: name:asc.


          Dynamic properties.* field paths are also allowed (for example properties.hostPoolType).'
        schema:
          type: string
        examples:
          default:
            summary: default
            value: name:asc
        x-foundry-sort:
          fields:
          - id
          - isAlreadyManaged
          - location
          - name
          - resourceGroup
          - subscriptionId
          - tags
          - type
          dynamicPaths: true
          defaultField: name
          defaultAscending: true
      - name: page
        in: query
        description: 'The page number to retrieve (1-based). Default: 1.'
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'The number of items per page (1-100). Default: 50.'
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Workspaces retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookedUpWorkspaceDtoPagedResultDto'
              example:
                items:
                - applicationGroupResourceIds:
                  - /subscriptions/25ae2df7-d61d-4cb0-a746-4b67e1cf8535/resourceGroups/rg-avd/providers/Microsoft.DesktopVirtualization/applicationGroups/ag-desktop
                  - /subscriptions/25ae2df7-d61d-4cb0-a746-4b67e1cf8535/resourceGroups/rg-avd/providers/Microsoft.DesktopVirtualization/applicationGroups/ag-remoteapp
                  resourceGroup: rg-avd
                  id: /subscriptions/25ae2df7-d61d-4cb0-a746-4b67e1cf8535/resourceGroups/rg-avd/providers/Microsoft.DesktopVirtualization/workspaces/ws-prod
                  subscriptionId: 25ae2df7-d61d-4cb0-a746-4b67e1cf8535
                  name: ws-prod
                  type: workspace
                  location: eastus
                  tags: {}
                page: 1
                pageSize: 10
                count: 1
                hasMore: false
                totalCount: 1
        '400':
          description: Bad request. Invalid pagination, sort, or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/lookup/resources/managed-images:
    get:
      tags:
      - Subscriptions
      summary: Lookup Azure Managed Images in a subscription
      description: 'Queries Azure for standalone Managed Images (Microsoft.Compute/images), with HyperV generation, OS state, and disk size.

        Unversioned artifacts living outside any compute gallery, so a different resource type from gallery images.

        Only Gen 2 generalized images are usable as a Master Image source.'
      operationId: LookupManagedImages
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: 'Optional filter expression.


          Supports JSON and RQL formats:


          - JSON: {"and":[{"field":"status","op":"eq","value":"Active"},{"field":"name","op":"ct","value":"Smith, John"}]}

          - RQL: and(eq(status,Active),ct(name,Smith%2C%20John)) — values are URL-decoded; encode reserved characters


          Operators:

          and, or, not (logical); eq, neq, ct, nct, sw, nsw, ew, new (predicate)


          Fields (names are matched case-insensitively):

          cpuArchitectureType, hyperVGeneration, id, isAlreadyManaged, location, name, osDiskSizeGiB, osState, osType, resourceGroup, subscriptionId, type'
        schema:
          type: string
        examples:
          json:
            summary: json
            value: '{"field":"name","op":"eq","value":"value"}'
          rql:
            summary: rql
            value: eq(name,value)
        x-foundry-filter:
          fields:
          - cpuArchitectureType
          - hyperVGeneration
          - id
          - isAlreadyManaged
          - location
          - name
          - osDiskSizeGiB
          - osState
          - osType
          - resourceGroup
          - subscriptionId
          - type
          operators:
            logical:
            - and
            - or
            - not
            predicate:
            - eq
            - neq
            - ct
            - nct
            - sw
            - nsw
            - ew
            - new
          dynamicPaths: false
      - name: sort
        in: query
        description: 'Sort expression for ordering results.


          Format:

          field:direction,otherField:direction


          Directions: asc, desc, ascending, descending — defaults to ascending when omitted


          Fields (names are matched case-insensitively):

          cpuArchitectureType, hyperVGeneration, id, isAlreadyManaged, location, name, osDiskSizeGiB, osState, osType, resourceGroup, subscriptionId, tags, type


          Default when omitted: name:asc.


          Dynamic properties.* field paths are also allowed (for example properties.hostPoolType).'
        schema:
          type: string
        examples:
          default:
            summary: default
            value: name:asc
        x-foundry-sort:
          fields:
          - cpuArchitectureType
          - hyperVGeneration
          - id
          - isAlreadyManaged
          - location
          - name
          - osDiskSizeGiB
          - osState
          - osType
          - resourceGroup
          - subscriptionId
          - tags
          - type
          dynamicPaths: true
          defaultField: name
          defaultAscending: true
      - name: page
        in: query
        description: 'The page number to retrieve (1-based). Default: 1.'
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'The number of items per page (1-100). Default: 50.'
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Managed images retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookedUpManagedImageDtoPagedResultDto'
              example:
                items:
                - osDiskSizeGiB: 128
                  imageSourceType: managed
                  hyperVGeneration: V2
                  diskControllerTypes:
                  - SCSI
                  cpuArchitectureType: x64
                  osType: Windows
                  osState: Generalized
                  isAlreadyManaged: false
                  resourceGroup: rg-images
                  id: /subscriptions/25ae2df7-d61d-4cb0-a746-4b67e1cf8535/resourceGroups/rg-images/providers/Microsoft.Compute/images/win11-managed-image
                  subscriptionId: 25ae2df7-d61d-4cb0-a746-4b67e1cf8535
                  name: win11-managed-image
                  type: image
                  location: eastus
                  tags: {}
                page: 1
                pageSize: 10
                count: 1
                hasMore: false
                totalCount: 1
        '400':
          description: Bad request. Invalid pagination, sort, or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/lookup/resources/gallery-images:
    get:
      tags:
      - Subscriptions
      summary: Lookup gallery images in a subscription
      description: 'Queries Azure for gallery image definitions — the named images inside a compute gallery.

        Middle level of the gallery hierarchy: a definition is not deployable, since deployment targets a version.'
      operationId: LookupGalleryImages
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: 'Optional filter expression.


          Supports JSON and RQL formats:


          - JSON: {"and":[{"field":"status","op":"eq","value":"Active"},{"field":"name","op":"ct","value":"Smith, John"}]}

          - RQL: and(eq(status,Active),ct(name,Smith%2C%20John)) — values are URL-decoded; encode reserved characters


          Operators:

          and, or, not (logical); eq, neq, ct, nct, sw, nsw, ew, new (predicate)


          Fields (names are matched case-insensitively):

          cpuArchitectureType, galleryId, galleryName, hasVersion, hyperVGeneration, id, imageSourceType, isAlreadyManaged, location, name, offer, osState, osType, publisher, recommendedCoresMax, recommendedCoresMin, recommendedMemoryMax, recommendedMemoryMin, resourceGroup, securityType, sku, subscriptionId, type, version'
        schema:
          type: string
        examples:
          json:
            summary: json
            value: '{"field":"name","op":"eq","value":"value"}'
          rql:
            summary: rql
            value: eq(name,value)
        x-foundry-filter:
          fields:
          - cpuArchitectureType
          - galleryId
          - galleryName
          - hasVersion
          - hyperVGeneration
          - id
          - imageSourceType
          - isAlreadyManaged
          - location
          - name
          - offer
          - osState
          - osType
          - publisher
          - recommendedCoresMax
          - recommendedCoresMin
          - recommendedMemoryMax
          - recommendedMemoryMin
          - resourceGroup
          - securityType
          - sku
          - subscriptionId
          - type
          - version
          operators:
            logical:
            - and
            - or
            - not
            predicate:
            - eq
            - neq
            - ct
            - nct
            - sw
            - nsw
            - ew
            - new
          dynamicPaths: false
      - name: sort
        in: query
        description: 'Sort expression for ordering results.


          Format:

          field:direction,otherField:direction


          Directions: asc, desc, ascending, descending — defaults to ascending when omitted


          Fields (names are matched case-insensitively):

          cpuArchitectureType, galleryId, galleryName, hasVersion, hyperVGeneration, id, imageSourceType, isAlreadyManaged, location, name, offer, osState, osType, publisher, recommendedCoresMax, recommendedCoresMin, recommendedMemoryMax, recommendedMemoryMaxBytes, recommendedMemoryMin, recommendedMemoryMinBytes, resourceGroup, securityType, sku, subscriptionId, tags, type, version


          Default when omitted: name:asc.


          Dynamic properties.* field paths are also allowed (for example properties.hostPoolType).'
        schema:
          type: string
        examples:
          default:
            summary: default
            value: name:asc
        x-foundry-sort:
          fields:
          - cpuArchitectureType
          - galleryId
          - galleryName
          - hasVersion
          - hyperVGeneration
          - id
          - imageSourceType
          - isAlreadyManaged
          - location
          - name
          - offer
          - osState
          - osType
          - publisher
          - recommendedCoresMax
          - recommendedCoresMin
          - recommendedMemoryMax
          - recommendedMemoryMaxBytes
          - recommendedMemoryMin
          - recommendedMemoryMinBytes
          - resourceGroup
          - securityType
          - sku
          - subscriptionId
          - tags
          - type
          - version
          dynamicPaths: true
          defaultField: name
          defaultAscending: true
      - name: page
        in: query
        description: 'The page number to retrieve (1-based). Default: 1.'
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'The number of items per page (1-100). Default: 50.'
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Gallery images retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookedUpImageDtoPagedResultDto'
              example:
                items:
                - hasVersion: true
                  galleryId: /subscriptions/25ae2df7-d61d-4cb0-a746-4b67e1cf8535/resourceGroups/rg-gallery/providers/Microsoft.Compute/galleries/ControlUp_DaaS_Gallery
                  galleryName: ControlUp_DaaS_Gallery
                  imageSourceType: sharedImageGallery
                  hyperVGeneration: V2
                  diskControllerTypes:
                  - SCSI
                  cpuArchitectureType: x64
                  osType: Windows
                  osState: Generalized
                  sku: win11-hr-master
                  offer: windows-11-multisession
                  publisher: ControlUp
                  isAlreadyManaged: false
                  resourceGroup: rg-gallery
                  id: /subscriptions/25ae2df7-d61d-4cb0-a746-4b67e1cf8535/resourceGroups/rg-gallery/providers/Microsoft.Compute/galleries/ControlUp_DaaS_Gallery/images/win11-hr-master
                  subscriptionId: 25ae2df7-d61d-4cb0-a746-4b67e1cf8535
                  name: win11-hr-master
                  type: galleryImage
                  location: eastus
                  tags: {}
                page: 1
                pageSize: 10
                count: 1
                hasMore: false
                totalCount: 1
        '400':
          description: Bad request. Invalid pagination, sort, or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized. User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment required. No active license for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden. User does not have view permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. The specified subscription does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable. License status could not be verified. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      - CookieAuth: []
  /cloud/subscriptions/{subscriptionId}/lookup/resources/gallery-image-versions:
    get:
      tags:
      - Subscriptions
      summary: Lookup gallery image versions in a subscription
      description: 'Queries Azure for published versions of gallery image definitions.

        Leaf level of the gallery hierarchy, and the one to pick when a deployment needs a concrete artifact.'
      operationId: LookupGalleryImageVersions
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: 'Optional filter expression.


[...]
