openapi: 3.2.0
info:
  title: Synthetic Monitoring Integrations API
  version: 2.0.0
  x-logo:
    url: https://app.scoutbees.io/static/media/scoutbees_new.ef578490.png
  termsOfService: https://www.controlup.com/privacy-policy/controlup-eula/
servers:
- url: https://api.controlup.com/synthetic-monitoring/v2/
tags:
- name: Integrations
paths:
  /integrations:
    get:
      summary: List all integrations
      description: Returns a list of active external integrations available for alert notifications.
      operationId: honeycomb.api.get_org_integrations
      security:
      - ApiKeyAuth:
        - read
      tags:
      - Integrations
      responses:
        '200':
          $ref: '#/components/responses/IntegrationList'
        '401':
          $ref: '#/components/responses/New401'
        '404':
          $ref: '#/components/responses/New404'
        '500':
          $ref: '#/components/responses/New500'
      x-codeSamples:
      - lang: cURL
        source: 'curl -X GET ''https://api.scoutbees.io/honeycomb/v2/integrations'' \

          -H ''x-scoutbees-key: API-key-here''

          '
components:
  responses:
    New404:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/JsonApiError'
          examples:
            not_found_error:
              summary: Resource not found error
              value:
                errors:
                - id: 550e8400-e29b-41d4-a716-446655440005
                  status: '404'
                  code: not_found
                  title: Not Found
                  detail: 'Alert #123 not found.'
    IntegrationList:
      description: A list of integrations
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: An array of active external integrations available for alert notifications.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: The unique identifier of the integration.
                    name:
                      type: string
                      description: The name of the integration.
                    service:
                      type: string
                      description: The service type of the integration (e.g., 'servicenow', 'teams').
              success:
                description: Whether the request was successful.
                type: boolean
          examples:
            with_integrations:
              summary: Response with integrations
              value:
                success: true
                data:
                - id: 1
                  name: DevOps Teams Channel
                  service: teams
                - id: 3
                  name: Service now
                  service: servicenow
            empty_list:
              summary: Response with no integrations
              value:
                success: true
                data: []
    New500:
      description: Server error
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/JsonApiError'
    New401:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/JsonApiError'
  schemas:
    JsonApiError:
      type: object
      description: Error object
      properties:
        status:
          type: string
          description: HTTP status code as a string
        code:
          type: string
          description: Application-specific error code
        title:
          type: string
          description: Short, human-readable summary of the error
        detail:
          type: string
          description: Detailed explanation of the error
        source:
          type: object
          description: Object containing references to the source of the error
          properties:
            pointer:
              type: string
              description: JSON Pointer to the field that caused the error
        meta:
          type: object
          description: Non-standard meta-information about the error
          additionalProperties: true
      required:
      - status
      - code
      - title
      - detail
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
x-readme:
  explorer-enabled: true
  proxy-enabled: false
  samples-languages:
  - shell
  - powershell
  - node
  - javascript
  - python
  - c
  - clojure
  - cplusplus
  - csharp
  - http
  - go
  - java
  - json
  - kotlin
  - objectivec
  - ocaml
  - php
  - r
  - ruby
  - shell
  - swift
