{"openapi":"3.0.0","info":{"title":"Compliance API","version":"v1","description":"ControlUp for Compliance API."},"servers":[{"url":"https://api.controlup.com/compliance"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Devices","description":"Get information about devices."}],"paths":{"/devices":{"get":{"summary":"List all devices","description":"Returns a list of all devices managed by ControlUp for Compliance.","operationId":"getDevices","tags":["Devices"],"parameters":[{"$ref":"#/components/parameters/_page"},{"$ref":"#/components/parameters/_limit"},{"$ref":"#/components/parameters/_filters"},{"$ref":"#/components/parameters/_filterby"},{"$ref":"#/components/parameters/_sort"},{"$ref":"#/components/parameters/_orderby"},{"$ref":"#/components/parameters/_search"},{"name":"device_id","in":"query","description":"Filter by the devive ID.","schema":{"type":"string"},"example":"IHAfqJoB-3oP8zTHt8c"},{"name":"device_name","in":"query","description":"Filter by the device name.","required":false,"schema":{"type":"string"},"example":"my-device-001"},{"name":"agent_status","in":"query","description":"Filter by agent connection status.","required":false,"schema":{"type":"string","enum":["online","offline"]},"example":"online"},{"name":"os_name","in":"query","description":"Filter by operating system name.","required":false,"schema":{"type":"string"},"example":"Microsoft Windows 11 Pro"},{"name":"mac_address","in":"query","description":"A search filter on the `mac_address` field.","required":false,"schema":{"type":"string"},"example":"00:1A:2B:3C:4D:5E"},{"name":"score","in":"query","description":"A search filter on the `score` field.","required":false,"schema":{"type":"number","format":"float"},"example":7},{"name":"score_severity","in":"query","description":"A search filter on the `score_severity` field.","required":false,"schema":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"]},"example":"LOW"},{"name":"issues_count","in":"query","description":"A search filter on the `issues_count` field.","required":false,"schema":{"type":"integer"},"example":0},{"name":"device_group","in":"query","description":"A search filter on the `device_group` field.","required":false,"schema":{"type":"string"},"example":"SampleGroup"},{"name":"location","in":"query","description":"A search filter on the `location` field.","required":false,"schema":{"type":"string"},"example":"United States - Chicago"},{"name":"client_version","in":"query","description":"A search filter on the `client_version` field.","required":false,"schema":{"type":"string"},"example":"1.5.2510.08"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"type":"object","allOf":[{"$ref":"#/components/schemas/Metadata"},{"$ref":"#/components/schemas/PaginationMetadata"}]},"data":{"type":"array","description":"List of device objects.","items":{"$ref":"#/components/schemas/Device"}}}},"examples":{"successExample":{"value":{"metadata":{"cuRequestId":"7b8a89c7-172b-4a9f-9e58-24636866266d","orgId":"0d5157ef-eb88-4f87-905c-6823fef32f2e","userId":"d97b8cde-8c2e-4bba-9f20-2097f9f26de4","total":51,"limitPerPage":10,"currentPageNumber":1,"currentPageSize":10,"remaining":41},"data":[{"device_id":"QYkHyYoBQ5QdJu1tiAg1","device_name":"Oliver’S MAC MINI","agent_status":"offline","os_name":"macOS","mac_address":null,"local_ip":null,"public_ip":"59.52.12.248","security_controls":null,"last_scan":"2025-09-11T16:44:12.613Z","score":10,"score_severity":"LOW","issues_count":0,"device_group":"Ungrouped Devices","device_tags":[],"location":"United States - New York City","client_version":"1.5.001"}]}}}}}}}}},"/devices/{device_id}":{"get":{"summary":"Get device details","description":"Returns details for a specific device, including a summary of the number of issues detected on the device.","operationId":"getDeviceDetails","tags":["Devices"],"parameters":[{"$ref":"#/components/parameters/_page"},{"$ref":"#/components/parameters/_limit"},{"$ref":"#/components/parameters/_filters"},{"$ref":"#/components/parameters/_filterby"},{"$ref":"#/components/parameters/_sort"},{"$ref":"#/components/parameters/_orderby"},{"$ref":"#/components/parameters/_search"},{"name":"device_id","in":"path","description":"ID of the device to get.","required":true,"schema":{"type":"string"},"example":"IHAfqJoB-3oP8zTHt8c"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"type":"object","allOf":[{"$ref":"#/components/schemas/Metadata"}]},"data":{"type":"object","allOf":[{"$ref":"#/components/schemas/Device"},{"type":"object","properties":{"vulns_count":{"type":"string","description":"Number of vulnerabilities."},"available_patches_count":{"type":"string","description":"Number of patches that have an available remediation."},"compliance_count":{"type":"string","description":"Number of compliance issues."},"misconfig_count":{"type":"string","description":"Number of misconfigurations."}}}]}}}}}}}}},"/devices/{device_id}/vulnerabilities":{"get":{"summary":"List device vulnerabilities","description":"Returns a list of vulnerabilities (CVEs) detected on a specific device.","operationId":"getDeviceVulnerabilities","tags":["Devices"],"parameters":[{"$ref":"#/components/parameters/_page"},{"$ref":"#/components/parameters/_limit"},{"$ref":"#/components/parameters/_filters"},{"$ref":"#/components/parameters/_filterby"},{"$ref":"#/components/parameters/_sort"},{"$ref":"#/components/parameters/_orderby"},{"$ref":"#/components/parameters/_search"},{"name":"device_id","in":"path","description":"ID of the device.","required":true,"schema":{"type":"string"},"example":"IHAfqJoB-3oP8zTHt8c"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"type":"object","allOf":[{"$ref":"#/components/schemas/Metadata"},{"$ref":"#/components/schemas/PaginationMetadata"}]},"data":{"$ref":"#/components/schemas/VulnerabilitiesData"}}}}}}}}},"/devices/{device_id}/patches":{"get":{"summary":"List device patches","description":"Returns a list of missing OS and application patches detected on a specific device.","operationId":"getDevicePatches","tags":["Devices"],"parameters":[{"$ref":"#/components/parameters/_page"},{"$ref":"#/components/parameters/_limit"},{"$ref":"#/components/parameters/_filters"},{"$ref":"#/components/parameters/_filterby"},{"$ref":"#/components/parameters/_sort"},{"$ref":"#/components/parameters/_orderby"},{"$ref":"#/components/parameters/_search"},{"name":"device_id","in":"path","description":"ID of the device.","required":true,"schema":{"type":"string"},"example":"IHAfqJoB-3oP8zTHt8c"},{"name":"title","in":"query","description":"Filter by application name or OS patch KB number.","schema":{"type":"string"},"example":"KB890830"},{"name":"severity","in":"query","description":"Filter by issue severity.","schema":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"],"example":"LOW"},"style":"form"},{"name":"remediation_status","in":"query","description":"Filter by remediation availability.","schema":{"type":"string","enum":["Available","Unavailable"],"example":"Available"},"style":"form"},{"name":"release_date","in":"query","description":"Filter by patch release date.","schema":{"type":"string"}},{"name":"patch_type","in":"query","description":"Filter by patch type detection type. `patch` means that a Template detected the patch by scanning for a specific application or OS patch. `vulnerability` means that a Template detected the patch by scanning for one of the relevant CVEs.","schema":{"type":"string","enum":["patch","vulnerability"]},"example":"patch"},{"name":"is_os","in":"query","description":"Set to `true` to return OS patches and `false` to return application patches.","schema":{"type":"boolean"},"example":true},{"name":"current_version","in":"query","description":"Filter by currently installed version.","schema":{"type":"string"},"example":"10.0.22000"},{"name":"vendor_name","in":"query","description":"Filter by application vendor name.","schema":{"type":"string"},"example":"Microsoft Corporation"},{"name":"last_remediation_status","in":"query","description":"A search filter on the `last_remediation_status` field.","schema":{"type":"string","nullable":true}},{"name":"device_action_id","in":"query","description":"A search filter on the `device_action_id` field.","schema":{"type":"string","format":"uuid","nullable":true}},{"name":"remediation_availability","in":"query","description":"Filter by whether a remediation for the issue is available.","schema":{"type":"string"}},{"name":"remediation_state","in":"query","description":"A search filter on the `remediation_state` field.","schema":{"type":"string","nullable":true}},{"name":"last_event_action","in":"query","description":"A search filter on the `last_event_action` field.","schema":{"type":"string","nullable":true}},{"name":"last_event_status","in":"query","description":"A search filter on the `last_event_status` field.","schema":{"type":"string","nullable":true}},{"name":"last_event_metadata","in":"query","description":"A search filter on the `last_event_metadata` field.","schema":{"type":"string"}},{"name":"last_event_created_at","in":"query","description":"A search filter on the `last_event_created_at` field.","schema":{"type":"string","format":"date-time","nullable":true}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"type":"object","allOf":[{"$ref":"#/components/schemas/Metadata"},{"$ref":"#/components/schemas/PaginationMetadata"}]},"data":{"$ref":"#/components/schemas/PatchesData"}}}}}}}}},"/devices/{device_id}/compliance":{"get":{"summary":"List device compliance issues","description":"Returns a list of issues from the compliance category detected on a specific device.","operationId":"getDeviceCompliance","tags":["Devices"],"parameters":[{"$ref":"#/components/parameters/_page"},{"$ref":"#/components/parameters/_limit"},{"$ref":"#/components/parameters/_filters"},{"$ref":"#/components/parameters/_filterby"},{"$ref":"#/components/parameters/_sort"},{"$ref":"#/components/parameters/_orderby"},{"$ref":"#/components/parameters/_search"},{"name":"device_id","in":"path","description":"ID of the device.","required":true,"schema":{"type":"string"},"example":"IHAfqJoB-3oP8zTHt8c"},{"name":"title","in":"query","description":"Filter by the issue title.","schema":{"type":"string"},"example":"Disable Solicited Remote Assistance"},{"name":"severity","in":"query","description":"Filter by the severity level of the issue.","schema":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"]},"example":"LOW"},{"name":"last_remediation_status","in":"query","description":"Filter by the status of the last remediation attempt.","schema":{"type":"string","nullable":true}},{"name":"remediation_availability","in":"query","description":"Filter by whether a remediation for the issue is available.","schema":{"type":"string","enum":["Available","Unavailable"]},"example":"Unavailable"},{"name":"remediation_state","in":"query","description":"Filter by the current remediation state.","schema":{"type":"string","nullable":true}},{"name":"last_event_action","in":"query","description":"Filter by the last recorded action.","schema":{"type":"string","nullable":true}},{"name":"last_event_status","in":"query","description":"Filter by the status of the last recorded event.","schema":{"type":"string","nullable":true}},{"name":"last_event_metadata","in":"query","description":"Filter by metadata associated with the last event (assumes string filter for complexity).","schema":{"type":"string","nullable":true}},{"name":"last_event_created_at","in":"query","description":"Filter by the creation time of the last recorded event.","schema":{"type":"string","format":"date-time","nullable":true}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"type":"object","allOf":[{"$ref":"#/components/schemas/Metadata"},{"$ref":"#/components/schemas/Metadata"}]},"data":{"$ref":"#/components/schemas/ComplianceData"}}}}}}}}},"/devices/{device_id}/misconfig":{"get":{"summary":"List device misconfigurations","description":"Returns a list of misconfiguration issues detected on a specific device.","operationId":"getDeviceMisconfig","tags":["Devices"],"parameters":[{"$ref":"#/components/parameters/_page"},{"$ref":"#/components/parameters/_limit"},{"$ref":"#/components/parameters/_filters"},{"$ref":"#/components/parameters/_filterby"},{"$ref":"#/components/parameters/_sort"},{"$ref":"#/components/parameters/_orderby"},{"$ref":"#/components/parameters/_search"},{"name":"device_id","in":"path","description":"ID of the device.","required":true,"schema":{"type":"string"},"example":"IHAfqJoB-3oP8zTHt8c"},{"name":"id","in":"query","description":"Filter by Issue ID.","schema":{"type":"string","format":"uuid"}},{"name":"title","in":"query","description":"Filter by the issue title.","schema":{"type":"string"},"example":"SSH Server Service detect and remediate"},{"name":"severity","in":"query","description":"Filter by the severity level of the issue.","schema":{"type":"array","items":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"]}},"style":"form","example":"LOW"},{"name":"remediation_status","in":"query","description":"Filter by whether ControlUp can remediate the issue.","schema":{"type":"string","enum":["Available","Unavailable"]},"example":"Unavailable"},{"name":"last_remediation_status","in":"query","description":"Filter by the status of the last remediation attempt.","schema":{"type":"string","nullable":true}},{"name":"device_action_id","in":"query","description":"Filter by ID related to the device action.","schema":{"type":"string","format":"uuid"}},{"name":"remediation_availability","in":"query","description":"Filter by whether a remediation for the issue is available.","schema":{"type":"string","enum":["Available","Unavailable"]}},{"name":"remediation_state","in":"query","description":"Filter by the current remediation state.","schema":{"type":"string","nullable":true}},{"name":"last_event_action","in":"query","description":"Filter by the last recorded action.","schema":{"type":"string","nullable":true}},{"name":"last_event_status","in":"query","description":"Filter by the status of the last recorded event.","schema":{"type":"string","nullable":true}},{"name":"last_event_metadata","in":"query","description":"Filter by event metadata.","schema":{"type":"string","nullable":true}},{"name":"last_event_created_at","in":"query","description":"Filter by the creation time of the last recorded event.","schema":{"type":"string","format":"date-time","nullable":true}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"type":"object","allOf":[{"$ref":"#/components/schemas/Metadata"},{"$ref":"#/components/schemas/PaginationMetadata"}]},"data":{"$ref":"#/components/schemas/MisconfigData"}}}}}}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"parameters":{"_sort":{"name":"_sort","in":"query","required":false,"description":"URL-encoded **JSON string** containing a sort object or an array of sort objects.\n\n#### Sort object structure\n* **`field`** (string): The data field to sort on.\n* **`dir`** (string): Sort direction. Must be one of `asc` (ascending) or `desc` (descending).\n* **`nullsLast`** (boolean, optional): If `true`, null values appear at the end of the results.\n\n#### Examples\n* Single field: `{\"field\":\"score\",\"dir\":\"desc\",\"nullsLast\":true}`\n* Multi-field: `[{\"field\":\"score\",\"dir\":\"desc\"},{\"field\":\"device_name\",\"dir\":\"asc\"}]`\n","schema":{"type":"string","example":"{\"field\":\"score\",\"dir\":\"desc\",\"nullsLast\":true}"}},"_orderby":{"in":"query","name":"_orderby","required":false,"description":"**Comma-separated list** of sort expressions. Add multiple expressions for multi-field sorting.\n\n#### Sort expression structure\n`<field> <direction>`\n* field: The data field to sort by.\n* direction: The sort direction, either `asc`, or `desc`.\n\n\n#### Examples\n* Simple: `device_name` (sorts by device_name ascending)\n* Complex: `device_name desc,score asc`\n","schema":{"type":"string","example":"issues_count desc"}},"_filters":{"in":"query","name":"_filters","required":false,"description":"URL-encoded **JSON string** containing a single filter object or an array of filter objects. Multiple filter objects are ANDed together.\n\n#### Filter object structure:\n* **`field`** (string): The data field to apply the filter on.\n* **`op`** (string): The comparison operator (see below for allowed operators).\n* **`value`**: The value(s) to compare against. The type depends on the field and operator (see below for allowed operators and values).\n\n#### Supported operators (`op`) and values (`value`)\n\n**Exact comparison**\n* **`eq`** (equal to), **`ne`** (not equal to): Supported by all field types. Value can be string, number, boolean, or `null`.\n\n**Range & ordering**\n* **`gt`** (greater than), **`gte`** (greater than or equal to), **`lt`** (less than), **`lte`** (less than or equal to): Supported by number fields. Value must be a number.\n\n**List membership**\n* **`in`** (is in list), **`nin`** (is not in list): Supported by all field types. Value must be a JSON array of strings, numbers, booleans, or nulls.\n\n**String/text matching**\n* **`contains`**, **`startsWith`**, **`endsWith`**: Supported only by string fields. Value must be a string.\n\n**Presence checks**\n* **`isNull`**, **`notNull`**: Supported by all field types. No value field is required for these operators.\n\n#### Examples\nNote that examples must be url-encoded when sent.\n* Single filter: `{\"field\":\"score\",\"op\":\"gte\",\"value\":90}`\n* Multiple filters: `[{\"field\":\"device_name\",\"op\":\"contains\",\"value\":\"vm\"},{\"field\":\"tags\",\"op\":\"in\",\"value\":[\"prod\",\"qa\"]}]`\n","schema":{"type":"string","example":"{\"field\":\"score\",\"op\":\"gte\",\"value\":90}"}},"_filterby":{"in":"query","name":"_filterby","required":false,"description":"A URL-encoded **comma-separated list** of filter expressions. Filters are ANDed together implicitly.\n\n#### Filter expression structure\n`field operator value` (e.g., `score gte 90`)\n* field: The data field to apply the filter on.\n* operator: The comparison operator (supports the same operators as the `_filters` parameter. Read the `_filters` description for details).\n* value: The value to compare against. When using the `in` and `nin` operators, the value can take a comma-separated list of values.\n\nYou don't need to specify field types when using this parameter. All filter expressions are sent as strings, and the server handles the conversion to the required field type.\n\n#### Examples:\nNote that the examples must be URL-encoded when sent.\n* Simple: `device_name contains server`\n* Multi-criteria: `device_name contains server,score gte 90`\n* List/IN operator: `tags in prod,qa`\n","schema":{"type":"string","example":"device_name contains server"}},"_search":{"in":"query","name":"_search","required":false,"description":"Free-text search across all text fields. If you add multiple values, they are ANDed together. You can submit multiple values using one of two supported formats:\n* **Comma-separated string**. For example, `?_search=server,windows`.\n* **Repeated key** (exploded array). An array of strings, serialized by repeating the parameter key. For example, `?_search=server&_search=windows`.\n","schema":{"oneOf":[{"type":"array","items":{"type":"string"},"example":["server","windows"]},{"type":"string","example":"server,windows"}]},"style":"form","explode":true},"_limit":{"in":"query","name":"_limit","required":false,"description":"The number of rows returned per page.","schema":{"type":"integer","default":10,"maximum":100}},"_page":{"in":"query","name":"_page","required":false,"description":"The page returned. Pages are 1-based.","schema":{"type":"integer"}}},"schemas":{"Metadata":{"type":"object","description":"Pagination and request-specific metadata.","properties":{"cuRequestId":{"type":"string","format":"uuid","description":"Unique ID for the current request."},"orgId":{"type":"string","format":"uuid","description":"Organization ID associated with the request."},"userId":{"type":"string","format":"uuid","description":"User ID associated with the request."}}},"PaginationMetadata":{"type":"object","description":"Extra metadata for paginated responses.","properties":{"total":{"type":"integer","description":"Total number of records available."},"limitPerPage":{"type":"integer","description":"Maximum number of records requested per page."},"currentPageNumber":{"type":"integer","description":"The number of the current page."},"currentPageSize":{"type":"integer","description":"Actual number of records returned in the current page."},"remaining":{"type":"integer","description":"Number of records remaining after the current page."}}},"Device":{"type":"object","description":"Detailed information about a single device.","properties":{"device_id":{"type":"string","description":"Unique identifier for the device. This is the same ID used in the ControlUp for Desktops API.","example":"IHAfqJoB-3oP8zTHt8c"},"device_name":{"type":"string","description":"The device's name.","example":"my-device-001"},"agent_status":{"type":"string","enum":["online","offline"],"description":"Current connection status of the ControlUp for Compliance Agent.","example":"online"},"os_name":{"type":"string","description":"Operating system name.","example":"Microsoft Windows 11 Pro"},"mac_address":{"type":"string","nullable":true,"description":"MAC address of the device.","example":"00:1A:2B:3C:4D:5E"},"local_ip":{"type":"string","nullable":true,"description":"Local IP address of the device.","example":"192.168.1.10"},"public_ip":{"type":"string","description":"Public IP address of the device.","example":"203.0.113.42"},"security_controls":{"type":"array","nullable":true,"description":"List of security control software detected on the device. For a list of detectable software, visit [Devices dashboard](https://support.controlup.com/docs/devices-secure-dx).","items":{"type":"object","properties":{"name":{"type":"string","description":"Software name","example":"Microsoft Defender Core Service"},"control_id":{"type":"string","description":"Unique ID for the software.","example":"b1268e4g-f705-4245-8598-fa1b61f2b5bd"}}}},"last_scan":{"type":"string","format":"date-time","description":"When the device was last scanned by a Template.","example":"2025-11-28T12:31:54.296Z"},"score":{"type":"number","format":"float","description":"Security score of the device.","example":5},"score_severity":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"],"description":"Score category.\n* Low = 8-10\n* Medium = 5-8\n* High = 3-5\n* Critical = 0-3\n","example":"Medium"},"issues_count":{"type":"integer","description":"Number of security issues on the device.","example":8},"device_group":{"type":"string","description":"Device group.","example":"ExampleGroup"},"device_tags":{"type":"array","description":"Device tags.","items":{"type":"string"},"example":["DeviceTag1","DeviceTag2"]},"location":{"type":"string","nullable":true,"description":"Geographic location of the device.","example":"United States - Chicago"},"agent_version":{"type":"string","description":"Version of the ControlUp for Compliance Agent installed on the device.","example":"1.5.2510.08"}}},"VulnerabilitiesData":{"type":"object","properties":{"id":{"type":"string","description":"CVE identifier.","example":"CVE-2025-0144"},"spm_id":{"type":"string","description":"Internal identifier.","example":"559a7df4-0be9-a32e-487b-e62b3fa8471d"},"type":{"type":"string","description":"The issue category.","enum":["vulnerability"],"example":"vulnerability"},"title":{"type":"string","description":"CVE identifier.","example":"CVE-2025-0144"},"description":{"type":"string","description":"Issue description."},"severity":{"type":"string","description":"The severity level of the issue.","enum":["LOW","MEDIUM","HIGH","CRITICAL"],"example":"LOW"},"status":{"type":"string","description":"Issue status on the device.","example":"vulnerable"},"origin":{"type":"string","description":"'builtin' means that the issue is part of ControlUp's default issue catalog.\n'custom' means that the issue was added by a ControlUp user.\n","example":"builtin"},"remediation_status":{"type":"string","description":"Indicates whether a remediation is available for the issue.","enum":["Available","Unavailable"],"example":"Available"},"min_report":{"type":"string","description":"The first time the issue was detected on this device.","format":"date-time","example":"2025-02-06T15:49:15.010Z"},"max_report":{"type":"string","description":"The latest time the issue was detected on this device.","format":"date-time","example":"2025-08-27T15:52:44.388Z"},"cve_2_0":{"type":"number","nullable":true,"description":"CVSS v2 score.","format":"float","example":3.1},"cve_3_0":{"type":"number","nullable":true,"description":"CVSS v3 score.","format":"float","example":3.1},"epss":{"type":"number","nullable":true,"description":"EPSS score.","format":"float","example":1.6},"published_epoch":{"type":"string","description":"Time and date when the CVE was published.","format":"date-time","example":"2025-01-15T06:53:11.000Z"},"app_name":{"type":"string","description":"The name of the affected application.","example":"Zoom"},"is_os":{"type":"boolean","description":"Indicates if the vulnerability affects the operating system.","example":false},"last_remediation_status":{"type":"string","nullable":true,"description":"The latest remediation status. For details, read [Remediation Status](https://support.controlup.com/docs/remediation-status).","example":null},"device_action_id":{"type":"string","nullable":true,"description":"Unknown???.","format":"uuid","example":null},"remediation_availability":{"type":"string","description":"Whether ControlUp can remediate the issue.","example":"Available"},"remediation_state":{"type":"string","nullable":true,"description":"The current remediation state. Possible values?","example":null},"last_event_action":{"type":"string","nullable":true,"description":"Unknown?","example":null},"last_event_status":{"type":"string","nullable":true,"description":"Unknown?","example":null},"last_event_metadata":{"type":"object","nullable":true,"description":"Unknown?","example":null},"last_event_created_at":{"type":"string","nullable":true,"description":"Unknown","format":"date-time","example":null}}},"PatchesData":{"type":"object","properties":{"id":{"type":"string","description":"Issue ID.","example":"uc84e604-f036-fc88-95a3-3c15423f06af"},"type":{"type":"string","description":"The issue category.","enum":["patch"],"example":"patch"},"title":{"type":"string","description":"For application patches, the name of the application. For OS patches, the KB number.","example":"WinRAR x64"},"description":{"type":"string","description":"Patch description."},"severity":{"type":"string","description":"The severity level of the issue.","enum":["LOW","MEDIUM","HIGH","CRITICAL"],"example":"LOW"},"status":{"type":"string","description":"Issue status on the device","example":"vulnerable"},"origin":{"type":"string","description":"* 'builtin' means that the issue is part of ControlUp's default issue catalog.\n* 'custom' means that the issue was added by a ControlUp user.\n","example":"builtin"},"remediation_status":{"type":"string","description":"Indicates whether a remediation is available for the issue.","enum":["Available","Unavailable"],"example":"Available"},"min_report":{"type":"string","description":"The first time the missing patch was detected on this device.","format":"date-time","example":"2025-02-06T15:49:15.010Z"},"max_report":{"type":"string","description":"The latest time the missing patch was detected on this device.","format":"date-time","example":"2025-08-27T15:52:44.388Z"},"cves":{"type":"array","description":"A list of CVEs related to the patch.","items":{"type":"string","example":"CVE-2025-31334"}},"release_date":{"type":"string","description":"Unknown?","format":"date-time","example":"2025-01-15T06:53:11.000Z"},"install_type":{"type":"string","description":"Unknown?","example":"Auto"},"patch_type":{"type":"string","description":"* `patch` means that the patch was identified by a Template scanning for the specific application or OS patch.\n* `vulnerability` means that the patch was identified by a Template scanning for one of CVEs related to the patch.\n","enum":["patch","vulnerability"],"example":"patch"},"group_key":{"type":"string","description":"For internal use."},"security_update_id":{"type":"string","description":"For internal use."},"eol":{"type":"boolean","description":"Whether the application is end of life.","example":false},"is_os":{"type":"boolean","description":"Whether the patch is an OS patch. `true` if it is an OS patch. `false` if it is an application patch.","example":false},"kb_category":{"type":"string","description":"For OS patches, the KB category.","example":".NET Framework"},"current_version":{"type":"string","description":"The current software version installed on the device.","example":"10.0.22000"},"vendor_name":{"type":"string","nullable":true,"description":"The application vendor name.","example":"Microsoft Corporation"},"last_remediation_status":{"type":"string","nullable":true,"description":"The latest remediation status. For details, read [Remediation Status](https://support.controlup.com/docs/remediation-status).","example":null},"device_action_id":{"type":"string","nullable":true,"description":"Unknown???.","format":"uuid","example":null},"remediation_availability":{"type":"string","description":"Whether ControlUp can install the patch.","example":"Available"},"remediation_state":{"type":"string","nullable":true,"description":"The current remediation state. Possible values?","example":null},"last_event_action":{"type":"string","nullable":true,"description":"Unknown?","example":null},"last_event_status":{"type":"string","nullable":true,"description":"Unknown?","example":null},"last_event_metadata":{"type":"object","nullable":true,"description":"Unknown?","example":null},"last_event_created_at":{"type":"string","nullable":true,"description":"Unknown","format":"date-time","example":null},"components":{"description":"Application data.","type":"object","properties":{"paths":{"type":"string","description":"The application's install patch.","example":"C:\\Program Files\\WinRAR\\WinRAR.exe"},"version":{"type":"string","description":"The application version currently installed.","example":"6.22.0.0"},"description":{"type":"string","description":"Application's description.","example":"WinRAR archiver"}}},"install_data":{"description":"Application installation data.","type":"object","properties":{"install_directories":{"type":"array","description":"Application installation directories.","items":{"type":"string","example":"C:\\Program Files\\WinRAR\\"}}}},"uninstall_data":{"description":"Application uninstall data.","type":"object","properties":{"uninstall_hive":{"type":"object","description":"Uninstall hive information.","properties":{"KeyName":{"type":"string","description":"The key name for the software entry.","example":"winrar archiver"},"Publisher":{"type":"string","description":"The name of the software publisher.","example":"win.rar GmbH"},"ModifyPath":{"type":"string","description":"Modify path.","example":""},"DisplayName":{"type":"string","description":"Software display name.","example":"WinRAR 6.22 (64-bit)"},"InstallDate":{"type":"string","description":"The date the software was installed.","example":"20230115"},"DisplayVersion":{"type":"string","description":"The version number displayed to the user.","example":"6.22.0"},"InstallLocation":{"type":"string","description":"The path where the software is installed.","example":"C:\\Program Files\\WinRAR\\"},"UninstallString":{"type":"string","description":"The command line string used to initiate the uninstallation.","example":"C:\\Program Files\\WinRAR\\uninstall.exe"}}}}},"services":{"description":"Related services."}}},"ComplianceData":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Issue ID.","example":"24238694-01f3-447a-b634-5674612a5d44"},"type":{"type":"string","description":"Issue category.","enum":["compliance"],"example":"compliance"},"title":{"type":"string","description":"Issue title.","example":"Microsoft Intune service disabled"},"description":{"type":"string","description":"A detailed description of the issue and its significance."},"severity":{"type":"string","description":"The severity level of the issue.","enum":["LOW","MEDIUM","HIGH","CRITICAL"],"example":"CRITICAL"},"status":{"type":"string","description":"Issue status on the device.","example":"vulnerable"},"origin":{"type":"string","description":"* 'builtin' means that the issue is part of ControlUp's default issue catalog.\n* 'custom' means that the issue was added by a ControlUp user.\n","example":"builtin"},"remediation_status":{"type":"string","description":"Indicates if ControlUp is able to remediate the issue.","enum":["Available","Unavailable"],"example":"Unavailable"},"min_report":{"type":"string","format":"date-time","description":"The first time the issue was detected on this device.","example":"2025-08-26T10:53:51.908Z"},"max_report":{"type":"string","format":"date-time","description":"The last time the issue was detected on this device.","example":"2025-08-27T10:42:34.727Z"},"potential_risk":{"type":"string","description":"A description of the potential risk from the issue."},"score":{"type":"integer","description":"The issue score.","example":4},"last_remediation_status":{"type":"string","description":"The latest remediation status. For details, read [Remediation Status](https://support.controlup.com/docs/remediation-status).","nullable":true,"example":null},"device_action_id":{"type":"string","format":"uuid","description":"Unknown?","nullable":true,"example":null},"remediation_availability":{"type":"string","description":"Whether ControlUp can remediate the issue.","enum":["Available","Unavailable"],"example":"Unavailable"},"remediation_state":{"type":"string","description":"The current remediation state. Possible values?","nullable":true,"example":null},"last_event_action":{"type":"string","description":"The last recorded action (e.g., 'scan', 'remediate').","nullable":true,"example":null},"last_event_status":{"type":"string","description":"The status of the last recorded event.","nullable":true,"example":null},"last_event_metadata":{"type":"object","description":"Metadata associated with the last event.","nullable":true,"example":null},"last_event_created_at":{"type":"string","format":"date-time","description":"The creation time of the last recorded event.","nullable":true,"example":null}}},"MisconfigData":{"type":"object","properties":{"id":{"type":"string","description":"Issue ID.","example":"5hea82cd-8144-445d-9778-bb4d6f52f03e"},"type":{"type":"string","description":"The issue category.","enum":["misconfig"],"example":"misconfig"},"title":{"type":"string","description":"Issue title.","example":"Disable Solicited Remote Assistance"},"description":{"type":"string","description":"Issue description.","example":"Remote assistance allows another user to view or take control of the local session of a user.\nSolicited assistance is help that is specifically requested by the local user.\n"},"severity":{"type":"string","description":"The severity level of the issue.","enum":["LOW","MEDIUM","HIGH","CRITICAL"],"example":"LOW"},"status":{"type":"string","description":"Issue status on the device.","example":"vulnerable"},"origin":{"type":"string","description":"'builtin' means that the issue is part of ControlUp's default issue catalog.\n'custom' means that the issue was added by a ControlUp user.\n","example":"builtin"},"remediation_status":{"type":"string","description":"Indicates whether a remediation is available for the issue.","enum":["Available","Unavailable"],"example":"Available"},"min_report":{"type":"string","description":"The first time the issue was detected on this device.","format":"date-time","example":"2025-02-06T15:49:15.010Z"},"max_report":{"type":"string","description":"The latest time the vulnerability was detected on this device.","format":"date-time","example":"2025-08-27T15:52:44.388Z"},"potential_risk":{"type":"string","description":"A description of the potential risk from the issue."},"score":{"type":"string","description":"The issue score.","example":7},"last_remediation_status":{"type":"string","nullable":true,"description":"The latest remediation status. For details, read [Remediation Status](https://support.controlup.com/docs/remediation-status).","example":null},"device_action_id":{"type":"string","nullable":true,"description":"Unknown???.","format":"uuid","example":null},"remediation_availability":{"type":"string","description":"Whether ControlUp can remediate the issue.","example":"Available"},"remediation_state":{"type":"string","nullable":true,"description":"The current remediation state. Possible values?","example":null},"last_event_action":{"type":"string","nullable":true,"description":"Unknown?","example":null},"last_event_status":{"type":"string","nullable":true,"description":"Unknown?","example":null},"last_event_metadata":{"type":"object","nullable":true,"description":"Unknown?","example":null},"last_event_created_at":{"type":"string","nullable":true,"description":"Unknown","format":"date-time","example":null}}}}}}