openapi: 3.1.0
info:
  title: VDI & DAAS API
  version: 1.0.0
servers:
- url: https://api.controlup.com/historical
security:
- bearer-jwt:
  - read
  - write
tags:
- name: Dynamic Query API
  description: Dynamic SQL transformation and execution
- name: Host
  description: Host usage reports
- name: User
  description: User activity reports
- name: WindowsEvents
  description: Windows Event Log Monitoring history
- name: Machine
  description: Machine usage reports
- name: NetScaler
  description: Netscaler usage reports
- name: Support endpoint
  description: Provides an additional information about customer's data
- name: Processes
  description: Process usage reports
- name: Session
  description: Session statistics report
- name: Applications
  description: Applications usage reports
paths:
  /v1/dynamic-query/execute:
    post:
      tags:
      - Dynamic Query API
      summary: Transform and Execute SQL Query
      description: Parse, validate, transform, and execute a SQL query, ensuring the result conforms to the expected structure
        and can be run safely.
      operationId: execute
      requestBody:
        description: SQL SELECT statement with date range and pagination parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlQuery'
        required: true
      responses:
        '200':
          description: SQL transformed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v2/netscaler/usage/system:
    get:
      tags:
      - NetScaler
      summary: Get NetScaler metrics with time series
      description: Returns performance metrics for each NetScaler appliance. Visit the <a href='https://support.controlup.com/docs/citrix-netscaler-adc-report'
        target='_blank'>NetScaler Report</a> documentation for column descriptions and more details.
      operationId: getNetscalerUsageWithTimeSeries
      parameters:
      - name: name
        in: query
        description: Only return metrics for the specified NetScaler name.
        required: false
        schema:
          type: string
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetscalerTimeSeriesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/NetscalerTimeSeriesResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v2/netscaler/usage/loadbalancer:
    get:
      tags:
      - NetScaler
      summary: Get Load Balancer metrics with time series
      description: Returns performance metrics for each load balancer. Visit the <a href='https://support.controlup.com/docs/citrix-netscaler-load-balancing-report'
        target='_blank'>NetScaler Load Balancing Report</a> documentation for column descriptions and more details.
      operationId: getLoadbalancerUsageWithTimeSeries
      parameters:
      - name: name
        in: query
        description: Only return metrics for the specified load balancer name. To use this parameter, you must also use the
          'netscalerName' parameter to specify a NetScaler.
        required: false
        schema:
          type: string
      - name: netscalerName
        in: query
        description: Only return metrics for the specified NetScaler name.
        required: false
        schema:
          type: string
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadbalancerResponseTimeSeries'
            application/xml:
              schema:
                $ref: '#/components/schemas/LoadbalancerResponseTimeSeries'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v2/netscaler/usage/gateway:
    get:
      tags:
      - NetScaler
      summary: Get Gateway metrics with time series
      description: Returns performance metrics for each NetScaler Gateway. Visit the <a href='https://support.controlup.com/docs/citrix-netscaler-gateway-report'
        target='_blank'>NetScaler Gateway Report</a> documentation for column descriptions and more details.
      operationId: getGatewayUsageTimeSeries
      parameters:
      - name: name
        in: query
        description: Only return metrics for the specified gateway name.
        required: false
        schema:
          type: string
      - name: netscalerName
        in: query
        description: Only return metrics for the specified NetScaler name.
        required: false
        schema:
          type: string
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeSeriesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GatewayTimeSeriesResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/windowsEvents:
    get:
      tags:
      - WindowsEvents
      summary: Get Windows Events
      description: Returns matched Event Log Monitoring rows (30-day rolling retention, filtered on event timestamp).
      operationId: getWindowsEvents
      parameters:
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: false
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: false
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: logLevel
        in: query
        description: 'Filter by log level. CSV, case-insensitive. Valid values: Critical, Error, Warning, Information, Verbose.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: logName
        in: query
        description: Filter by the full programmatic log name (e.g. Microsoft-FSLogix-Apps/Operational). Exact match, case-insensitive.
          CSV.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sourceName
        in: query
        description: Filter by event source/provider name. Exact match, case-insensitive. CSV.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: eventId
        in: query
        description: Filter by Windows event ID. CSV.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: machineName
        in: query
        description: Filter by machine name. Exact match, case-insensitive. CSV.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: userName
        in: query
        description: Filter by user name (DOMAIN\User or SID-string fallback). Exact match, case-insensitive. CSV.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: _sortBy
        in: query
        description: 'Response field to sort by. Default: eventTime.'
        required: false
        schema:
          type: string
      - name: _sortOrder
        in: query
        description: 'Sort order. Default: desc.'
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalListResponseWindowsEventResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalListResponseWindowsEventResult'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/users/activity:
    get:
      tags:
      - User
      summary: Get user activity status
      description: Returns a list of users and their activity status throughout the search period. The search period is divided
        into smaller time windows according to the granularity parameter. The endpoint returns a user's activity status for
        each time window.
      operationId: getUserActivity
      parameters:
      - name: userAccount
        in: query
        description: Only return activity data for the specified user account (user_account).
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        description: Sets the length of the time windows in which a user activity statuses are returned. For example, if you
          set this to 5m then you can see a user's activity status for each 5 minute interval throughout the search period.
        required: true
        schema:
          type: string
          description: Sets the length of the time windows in which a user activity statuses are returned. For example, if
            you set this to 5m then you can see a user's activity status for each 5 minute interval throughout the search
            period.
          enum:
          - 1h
          - 5m
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalListResponseUserActivityResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalListResponseUserActivityResult'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/uploadstartstatus:
    get:
      tags:
      - Support endpoint
      summary: Start upload date
      description: Returns date when the first historical data upload was started
      operationId: getStartUploadDate
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadStartDate'
            application/xml:
              schema:
                $ref: '#/components/schemas/UploadStartDate'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/sessions:
    get:
      tags:
      - Session
      summary: Get session statistics
      description: Returns statistics for all user sessions. Visit the <a href='https://support.controlup.com/docs/user-sessions-activity-report'
        target='_blank'>Session Activity Report</a> documentation for column descriptions and more details.
      operationId: getSessionsStatistics
      parameters:
      - name: presetType
        in: query
        description: Set the type of statistics to return for each user session.
        required: true
        schema:
          type: string
          enum:
          - activity
          - client
          - cvad
          - horizon
          - resources
          - ux
          - list
      - name: userAccount
        in: query
        description: Filter sessions by user account, provided in the Domain\username format.
        required: false
        schema:
          type: string
      - name: userName
        in: query
        description: Filter sessions by user display name (partial match, e.g. 'John Doe'). If both userName and userAccount
          are provided, userAccount takes precedence.
        required: false
        schema:
          type: string
        example: John Doe
      - name: serverName
        in: query
        description: Filter sessions by server name. This parameter is only applicable when the preset is set to LIST.
        required: false
        schema:
          type: string
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: logonDurationgt
        in: query
        description: Minimum logon duration in seconds
        required: false
        schema:
          type: integer
          format: int32
      - name: logonDurationlt
        in: query
        description: Maximum logon duration in seconds
        required: false
        schema:
          type: integer
          format: int32
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/SessionActivityResponse'
                - $ref: '#/components/schemas/SessionCvadResponse'
                - $ref: '#/components/schemas/SessionHorizonResponse'
                - $ref: '#/components/schemas/SessionResourcesResponse'
                - $ref: '#/components/schemas/SessionUxResponse'
                - $ref: '#/components/schemas/SessionClientResponse'
                - $ref: '#/components/schemas/SessionListResponse'
            application/xml:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/SessionActivityResponse'
                - $ref: '#/components/schemas/SessionCvadResponse'
                - $ref: '#/components/schemas/SessionHorizonResponse'
                - $ref: '#/components/schemas/SessionResourcesResponse'
                - $ref: '#/components/schemas/SessionUxResponse'
                - $ref: '#/components/schemas/SessionClientResponse'
                - $ref: '#/components/schemas/SessionListResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/sessions/timeline/{sessionUid}:
    get:
      tags:
      - Session
      summary: Get session timeline
      description: Returns the timeline of session state changes for a specific session.
      operationId: getSessionTimeline
      parameters:
      - name: sessionUid
        in: path
        description: Session UID to get timeline for
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionTimelineResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SessionTimelineResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/sessions/details:
    get:
      tags:
      - Session
      summary: Get individual session details
      description: Returns activity details of individual session. Visit the <a href='https://support.controlup.com/docs/user-sessions-activity-report'
        target='_blank'>Session Activity Report</a> documentation for column descriptions and more details.
      operationId: getSessionDetails
      parameters:
      - name: machineName
        in: query
        description: The name of virtual machine.
        required: true
        schema:
          type: string
      - name: computerId
        in: query
        description: The name of virtual machine.
        required: true
        schema:
          type: string
      - name: sessionUid
        in: query
        description: Session uid used to identify a session. This value is returned in the session statistics.
        required: true
        schema:
          type: integer
          format: int64
      - name: isNormalLogoff
        in: query
        description: Was logoff explicit.
        required: true
        schema:
          type: boolean
      - name: sessionStartDateTime
        in: query
        description: Start datetime of requested session details.
        required: true
        schema:
          type: string
      - name: sessionEndDateTime
        in: query
        description: End datetime of requested session details.
        required: false
        schema:
          type: string
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionDetailsEventsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SessionDetailsEventsResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/sessions/aggregated:
    get:
      tags:
      - Session
      summary: Get aggregated session activity
      description: Returns aggregated session activity metrics (avg/min/max/count) grouped by a single session dimension such
        as folder, delivery group, site, user, protocol, or initial program. Visit the <a href='https://support.controlup.com/docs/user-sessions-activity-report'
        target='_blank'>Session Activity Report</a> documentation for column descriptions and more details.
      operationId: getSessionsAggregated
      parameters:
      - name: groupBy
        in: query
        description: Single session dimension to group rows by.
        required: true
        schema:
          type: string
          enum:
          - folderPath
          - folderId
          - deliveryGroup
          - deliveryGroupId
          - eucSiteName
          - eucSiteId
          - cvadSiteName
          - horizonSite
          - userAccount
          - userFullName
          - protocol
          - initialProgram
      - name: metrics
        in: query
        description: One or more session metrics to aggregate. Repeat the parameter for multiple values.
        required: true
        schema:
          type: array
          items:
            type: string
            enum:
            - duration_in_seconds
            - logon_duration
            - profile_load_time
            - desktop_load_time
            - group_policy_load_time
            - logon_duration_other
            - cvad_logon_duration
            - cvad_profile_load_time
            - cvad_group_policy_load_time
            - session_protocol_latency_avg
            - session_protocol_latency_max
            - session_protocol_latency_min
            - rtt_avg
            - rtt_max
            - rtt_min
            - active_time_in_seconds
            - idle_time_in_seconds
            - disconnected_time_in_seconds
      - name: aggregations
        in: query
        description: 'Aggregation functions to apply to each metric. Repeat for multiple. Default: avg.'
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - avg
            - min
            - max
            - count
      - name: _sortBy
        in: query
        description: 'Response field to sort by (must equal a returned <metric>_<aggregation>, session_count, or the groupBy
          field). Default: <first metric>_<first aggregation>.'
        required: false
        schema:
          type: string
      - name: _sortOrder
        in: query
        description: 'Sort order. Default: desc.'
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: userAccount
        in: query
        description: Filter sessions by user account, provided in the Domain\username format.
        required: false
        schema:
          type: string
      - name: serverName
        in: query
        description: Filter sessions by server name.
        required: false
        schema:
          type: string
      - name: logonDurationgt
        in: query
        description: Minimum logon duration in seconds (pre-aggregation filter).
        required: false
        schema:
          type: integer
          format: int32
      - name: logonDurationlt
        in: query
        description: Maximum logon duration in seconds (pre-aggregation filter).
        required: false
        schema:
          type: integer
          format: int32
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionAggregatedResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SessionAggregatedResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/processes/usage/single:
    get:
      tags:
      - Processes
      summary: Get usage details for a process
      description: Returns usage details for the specified process including usage per machine, per user account, peak concurrent
        instances, and unique user count throughout the search period.
      operationId: getProcessUsageSingle
      parameters:
      - name: processName
        in: query
        description: The name of the process
        required: true
        schema:
          type: string
          pattern: ^[\w.\-\s]+$
        example: notepad.exe
      - name: processVersion
        in: query
        description: Only return usage details for the specified process version.
        required: false
        schema:
          type: string
          pattern: ^[\w.\-\s]+$
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: userAccounts
        in: query
        description: Filter by user accounts in Domain\username format. Maximum 50 items.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: computerNames
        in: query
        description: Filter by computer names. Maximum 100 items. Unknown names are resolved to -1 and match nothing.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalSingleResponseProcessUsageSingleResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalSingleResponseProcessUsageSingleResult'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/processes/usage/all:
    get:
      tags:
      - Processes
      summary: Get usage details for all processes
      description: Returns usage details for all processes (number of unique users and, when no filters are supplied, peak
        concurrent users) per calendar day throughout the search period. When computerNames or userAccounts filters are supplied,
        peak_concurrency is omitted and the maximum date span is 90 days.
      operationId: getProcessUsageAll
      parameters:
      - name: _timeFrom
        in: query
        description: 'Start date of the search period in the format: YYYY-MM-DD'
        required: true
        schema:
          type: string
          format: date
        example: '2025-02-01'
      - name: _timeTo
        in: query
        description: 'End date of the search period in the format: YYYY-MM-DD'
        required: true
        schema:
          type: string
          format: date
        example: '2025-02-02'
      - name: userAccounts
        in: query
        description: Filter by user accounts in Domain\username format. Maximum 50 items. An empty list is treated as no filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: computerNames
        in: query
        description: Filter by computer names. Maximum 100 items. Unknown names are resolved to -1 and match nothing. An empty
          list is treated as no filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalListResponseProcessUsageAllResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalListResponseProcessUsageAllResult'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/netscaler/usage/system:
    get:
      tags:
      - NetScaler
      summary: Get NetScaler metrics
      description: Returns performance metrics for each NetScaler appliance. Visit the <a href='https://support.controlup.com/docs/citrix-netscaler-adc-report'
        target='_blank'>NetScaler Report</a> documentation for column descriptions and more details.
      operationId: getNetscalerUsage
      parameters:
      - name: name
        in: query
        description: Only return metrics for the specified NetScaler name.
        required: false
        schema:
          type: string
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetscalerResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/NetscalerResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/netscaler/usage/loadbalancer:
    get:
      tags:
      - NetScaler
      summary: Get Load Balancer metrics
      description: Returns performance metrics for each load balancer. Visit the <a href='https://support.controlup.com/docs/citrix-netscaler-load-balancing-report'
        target='_blank'>NetScaler Load Balancing Report</a> documentation for column descriptions and more details.
      operationId: getLoadbalancerUsage
      parameters:
      - name: name
        in: query
        description: Only return metrics for the specified load balancer name. To use this parameter, you must also use the
          'netscalerName' parameter to specify a NetScaler.
        required: false
        schema:
          type: string
      - name: netscalerName
        in: query
        description: Only return metrics for the specified NetScaler name.
        required: false
        schema:
          type: string
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadbalancerResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/LoadbalancerResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/netscaler/usage/gateway:
    get:
      tags:
      - NetScaler
      summary: Get Gateway metrics
      description: Returns performance metrics for each NetScaler Gateway. Visit the <a href='https://support.controlup.com/docs/citrix-netscaler-gateway-report'
        target='_blank'>NetScaler Gateway Report</a> documentation for column descriptions and more details.
      operationId: getGatewayUsage
      parameters:
      - name: name
        in: query
        description: Only return metrics for the specified gateway name.
        required: false
        schema:
          type: string
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GatewayResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/machines/statistics/{grouping}:
    get:
      tags:
      - Machine
      summary: Get machine statistics
      description: Returns historical information about machine resource consumption. Visit the <a href='https://support.controlup.com/docs/computer-statistics-report'
        target='_blank'>Machine Statistics Report</a> documentation for column descriptions and more details.
      operationId: getMachineStatsByMachine
      parameters:
      - name: grouping
        in: path
        description: Returns machine resource consumption statistics grouped by the specified entity
        required: true
        schema:
          type: string
          enum:
          - machine
          - host
          - folder
      - name: aggregationType
        in: query
        description: Set how machine statistics are aggregated during the selected time range. Avg returns the average of
          each metric. Max returns the maximum of each metric. Min returns the minimum of each metric. Worst returns either
          the maximum or minimum of each metric according to each metric type.
        required: true
        schema:
          type: string
          enum:
          - Avg
          - Max
          - Min
          - Worst
      - name: metricsType
        in: query
        description: The type of information to return. Default returns all available information.
        required: true
        schema:
          type: string
          enum:
          - Default
          - PVS
          - GPU
          - UserSessions
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/MachineStatisticsByMachineResponse'
                - $ref: '#/components/schemas/MachineStatisticsByFolderResponse'
                - $ref: '#/components/schemas/MachineStatisticsByHostResponse'
            application/xml:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/MachineStatisticsByMachineResponse'
                - $ref: '#/components/schemas/MachineStatisticsByFolderResponse'
                - $ref: '#/components/schemas/MachineStatisticsByHostResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/machines/sizing_recommendation/virtualization:
    get:
      tags:
      - Machine
      summary: Get sizing recommendations for virtual environments
      description: Returns sizing recommendations to optimize resource allocation for machines based on historical information.
        Visit the <a href='https://support.controlup.com/docs/sizing-recommendations-report' target='_blank'>Sizing Recommendations
        Report</a> documentation for more details.
      operationId: getRecommendationVirtualization
      parameters:
      - name: activeSessionSizing
        in: query
        description: 'Specifies which calculation method to use for sizing recommendations.


          false: Calculates utilization averages across a continuous 24/7 period, regardless of whether a session is active.
          This includes nights and weekends when machines might be idle. If your machines have significantly different resource
          utilization depending on whether a session is active, then this method can under-estimate a machine''s hardware
          requirements.


          true: Only calculates utilization averages when an active user session is detected. This can provide a more realistic
          view of hardware requirements by excluding idle time.'
        required: false
        schema:
          type: boolean
          default: false
        example: false
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SizingRecommendationVirtualizationResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SizingRecommendationVirtualizationResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/machines/sizing_recommendation/azure:
    get:
      tags:
      - Machine
      summary: Get sizing recommendation for machine for Azure environment
      description: Returns sizing recommendations to optimize resource allocation for machines based on historical information.
        Visit the <a href='https://support.controlup.com/docs/sizing-recommendations-report' target='_blank'>Sizing Recommendations
        Report</a> documentation for more details.
      operationId: getRecommendationAzure
      parameters:
      - name: license
        in: query
        description: Your license type for Microsoft Windows Virtual Machines. If you have Azure Hybrid Benefit, enter ‘Azure
          Hybrid Benefit’. If you purchase a new license for each machine, enter ‘OS (Windows)’.
        required: true
        schema:
          type: string
          enum:
          - Azure Hybrid Benefit
          - OS (Windows)
        example: Azure Hybrid Benefit
      - name: azureRegion
        in: query
        description: The Azure region where you want to see representative costs. You must provide the name of the region
          as it appears in the report creation UI.
        required: true
        schema:
          type: string
      - name: currency
        in: query
        description: The currency used for all cost information in the report.
        required: false
        schema:
          type: string
          default: USD
          enum:
          - USD
          - EUR
          - GBP
        example: USD
      - name: msEaDiscountRatePct
        in: query
        description: The discount rate percentage due to a Microsoft Enterprise Agreement. If you don’t have a discount rate,
          enter `0`.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
          maximum: 100
          minimum: 0
        example: 0
      - name: acceleratedNetworking
        in: query
        description: Select whether you require VMs with or without Accelerated Networking. Enter `any` if you have no preference.
        required: false
        schema:
          type: string
          default: Any
          enum:
          - Any
          - 'True'
          - 'False'
        example: Any
      - name: memoryPreservingMaintenance
        in: query
        description: Select whether you require VMs with or without Memory Preserving Maintenance. Enter `any` if you have
          no preference.
        required: false
        schema:
          type: string
          default: Any
          enum:
          - Any
          - 'True'
          - 'False'
        example: Any
      - name: hyperVGeneration
        in: query
        description: Select the required Hyper-V generation for VMs. Enter `any` if you have no preference.
        required: false
        schema:
          type: string
          default: Any
          enum:
          - Any
          - V1
          - V2
          - ALL
        example: Any
      - name: cpuArchitectureType
        in: query
        description: Select the required CPU architecture for VMs. Enter `any` if you have no preference.
        required: false
        schema:
          type: string
          default: Any
          enum:
          - Any
          - X64
          - ARM64
        example: Any
      - name: vCPUsPerCore
        in: query
        description: Select the required vCPUs per core for VMs. Enter `any` if you have no preference.
        required: false
        schema:
          type: string
          enum:
          - Any
          - '1'
          - '2'
        example: Any
      - name: rdmaEnabled
        in: query
        description: Select whether you require RDMA-capable VMs. Enter `any` if you have no preference.
        required: false
        schema:
          type: string
          default: Any
          enum:
          - Any
          - 'True'
          - 'False'
        example: Any
      - name: premiumIO
        in: query
        description: Select whether you require VMs with premium IO. Enter `any` if you have no preference.
        required: false
        schema:
          type: string
          default: Any
          enum:
          - Any
          - 'True'
          - 'False'
        example: Any
      - name: encryptionAtHostSupport
        in: query
        description: Select whether you require VMs with encryption at host. Enter `any` if you have no preference.
        required: false
        schema:
          type: string
          default: Any
          enum:
          - Any
          - 'True'
          - 'False'
        example: Any
      - name: diskTier
        in: query
        description: Select your required disk tier. Enter `any` if you have no preference.
        required: false
        schema:
          type: string
          default: Any
          enum:
          - Any
          - Standard
          - Premium
          - Ultra
        example: Any
      - name: redundancy
        in: query
        description: Select your required disk redundancy option. Enter `any` if you have no preference.
        required: false
        schema:
          type: string
          default: Any
          enum:
          - Any
          - LRS
          - ZRS
        example: Any
      - name: minimumDiskSize
        in: query
        description: Select your required minimum disk size in GB. Enter `any` if you have no preference.
        required: false
        schema:
          type: string
          enum:
          - Any
          - '1'
          - '2'
          - '4'
          - '8'
          - '16'
          - '32'
          - '64'
          - '128'
          - '256'
          - '512'
          - '1024'
          - '2048'
          - '4096'
          - '8192'
          - '16384'
          - '32767'
        example: Any
      - name: costOption
        in: query
        description: Your Azure cost option. Select from pay as you go (`PAYG`), spot machines (`Spot`), reserved instance
          for one a one-year term (`RESERVED_ONE_YEAR`), or reserved instance for a three-year term (`RESERVED_THREE_YEAR).
        required: false
        schema:
          type: string
          default: PAYG
          enum:
          - PAYG
          - SPOT
          - RESERVED_ONE_YEAR
          - RESERVED_THREE_YEAR
        example: Any
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SizingRecommendationAzureResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SizingRecommendationAzureResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/machines/aggregated:
    get:
      tags:
      - Machine
      summary: Get aggregated machine statistics
      description: Returns aggregated machine metrics (avg/min/max/count) grouped by a single machine dimension such as folder,
        operating system, hypervisor platform, Azure region/VM size, or GPU architecture/model. Always returns machine_count
        (COUNT(DISTINCT computer_id)) plus one column per <metric>_<aggregation> combination. Visit the <a href='https://support.controlup.com/docs/computer-statistics-report'
        target='_blank'>Machine Statistics Report</a> documentation for column descriptions and more details.
      operationId: getMachinesAggregated
      parameters:
      - name: groupBy
        in: query
        description: Single machine dimension to group rows by.
        required: true
        schema:
          type: string
          enum:
          - folderPath
          - folderId
          - operatingSystem
          - hypervisorPlatform
          - azRegion
          - azVmSize
          - gpuArchitecture
          - gpuModel
      - name: metrics
        in: query
        description: One or more machine metrics to aggregate. Repeat the parameter for multiple values.
        required: true
        schema:
          type: array
          items:
            type: string
            enum:
            - cpu_avg
            - cpu_95_avg
            - cpu_ready_avg
            - memory_in_use_avg
            - system_drive_free_space_avg
            - logon_duration_avg
            - app_load_time_avg
            - processes_count_avg
            - avg_processor_queue_length_avg
            - page_faults_per_sec_avg
            - disk_read_kbyte_per_sec_avg
            - disk_write_kbyte_per_sec_avg
            - disk_total_kbyte_per_sec_avg
            - disk_reads_per_sec_avg
            - disk_writes_per_sec_avg
            - disk_transfers_per_sec_avg
            - avg_disk_queue_avg
            - network_received_mbit_per_sec_avg
            - network_sent_mbit_per_sec_avg
            - network_total_mbit_per_sec_avg
            - non_zero_avg_user_input_delay_avg
            - non_zero_max_user_input_delay_avg
            - gpu_utilization_avg
            - gpu_available_memory_avg
            - gpu_frame_buffer_size_avg
            - gpu_frame_buffer_memory_utilization_avg
            - gpu_memory_usage_avg
            - gpu_decoder_usage_avg
            - gpu_encoder_usage_avg
            - pvs_device_free_space_on_write_cache_drive_avg
            - pvs_ram_cache_usage_avg
            - pvs_target_device_health
            - pvs_device_write_cache_volume_size
            - total_sessions_avg
            - active_sessions_avg
            - user_sessions_count_avg
            - idle_sessions_count_avg
            - disconnected_sessions_avg
            - other_sessions_count_avg
            - ica_sessions_count_avg
            - session_disconnect_rate_avg
      - name: aggregations
        in: query
        description: 'Aggregation functions to apply to each metric. Repeat for multiple. Default: avg.'
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - avg
            - min
            - max
            - count
      - name: presetType
        in: query
        description: 'Metric compatibility scope. Restricts which metrics are valid. Default: Default (all metrics).'
        required: false
        schema:
          type: string
          default: Default
          enum:
          - Default
          - PVS
          - GPU
          - UserSessions
      - name: _sortBy
        in: query
        description: 'Response field to sort by (must equal a returned <metric>_<aggregation>, machine_count, or the groupBy
          field). Default: <first metric>_<first aggregation>.'
        required: false
        schema:
          type: string
      - name: _sortOrder
        in: query
        description: 'Sort order. Default: desc.'
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: operatingSystem
        in: query
        description: Filter machines whose operating system contains this value (pre-aggregation filter).
        required: false
        schema:
          type: string
      - name: hypervisorPlatform
        in: query
        description: Filter machines whose hypervisor platform contains this value (pre-aggregation filter).
        required: false
        schema:
          type: string
      - name: azRegion
        in: query
        description: Filter machines whose Azure region contains this value (pre-aggregation filter).
        required: false
        schema:
          type: string
      - name: azVmSize
        in: query
        description: Filter machines whose Azure VM size contains this value (pre-aggregation filter).
        required: false
        schema:
          type: string
      - name: vmName
        in: query
        description: Filter machines whose VM name contains this value (pre-aggregation filter).
        required: false
        schema:
          type: string
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: 'Grouped rows per page. Default: 100, maximum: 10000.'
        schema:
          type: integer
          format: int32
          maximum: 10000
          minimum: 1
        example: 100
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineAggregatedResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MachineAggregatedResponse'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '504':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
  /v1/hosts/metrics:
    get:
      tags:
      - Host
      summary: Get host metrics per folder
      description: Returns average host resource consumption per folder throughout the search period. The granularity depends
        on the search period.
      operationId: getHostMetrics
      parameters:
      - name: metrics
        in: query
        description: The metric to return.
        required: true
        schema:
          type: string
          enum:
          - cpu
      - name: _timeFrom
        in: query
        description: 'Start date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-01T00:00:00.000Z'
      - name: _timeTo
        in: query
        description: 'End date and time of the search period in the format: YYYY-MM-DD''T''hh:mm:ss.sssZ'
        required: true
        schema:
          type: string
          format: date-time
        example: '2025-02-02T00:00:00.000Z'
      - name: _page
        in: query
        description: The page number returned. The first page is 1.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: _limit
        in: query
        description: The number of items returned per page. Minimum is 1.
        schema:
          type: integer
          format: int32
          maximum: 100000
          minimum: 1
        example: 20
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalListResponseHostCpuUtilizationResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalListResponseHostCpuUtilizationResult'
        '400':
          description: Bad Request - one of the inputs isn't correct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '401':
          description: User is not authorized to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '403':
          description: Authorization details are not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
        '501':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalErrorResponse'
            application/xml:
              schema:
[...]
