{"openapi":"3.1.1","info":{"title":"Synthetic Monitoring","version":"2.0.0","x-logo":{"url":"https://app.scoutbees.io/static/media/scoutbees_new.ef578490.png"},"termsOfService":"https://www.controlup.com/privacy-policy/controlup-eula/"},"x-readme":{"explorer-enabled":true,"proxy-enabled":false,"samples-languages":["shell","powershell","node","javascript","python","c","clojure","cplusplus","csharp","http","go","java","json","kotlin","objectivec","ocaml","php","r","ruby","shell","swift"]},"servers":[{"url":"https://api.controlup.com/synthetic-monitoring/v2/"}],"tags":[{"name":"Scouts","description":"Scouts are the proactive tests that you configure to monitor the availability and health of various resources. There are different types of Scouts, depending on the type of resource you want to test. Within each type, there are sub-types which determine which test is performed and the available test configuration options.\n\nScouts are initiated from Hives, which are either hosted in the cloud (Cloud Hives), or installed on-premises (Custom Hives).\n"},{"name":"Tests","description":"The output of the scout tests"},{"name":"Hives","description":"Hives are the locations from which Scouts (tests) are initiated.\n\nCustom Hives allow you to test internal resources from within your network. They must be installed on a computer with access to your network.\n\nCloud hives allow you to test publicly available resources from locations throughout the world. They are hosted and managed by Scoutbees, and require no configuration.\n"},{"name":"Alerts","description":"Scouts can be configured to trigger an alert when certain conditions are met. You can use endpoints to get a list of alerts from all Scouts, a list of Scouts that have triggered an alert, and a list of alerts from a specific Scout."},{"name":"MFAs","description":"Multi-factor authentication (MFA) is supported for gateway access on all EUC platforms except Citrix Storefront. Use this resource to retrieve the sets of usernames and phone numbers that have been configured for phone or SMS verification.You must contact [Scoutbees Support](https://controlup.zendesk.com/hc/en-us/requests/new) to associate a username with a phone number for MFA.\n\nVisit [Multi-Factor Authentication](https://support.controlup.com/docs/mfa) for more details on how to configure MFA.\n"}],"paths":{"/scouts":{"get":{"summary":"List all Scouts","description":"Returns a list of your Scouts.","operationId":"app.get_scouts","security":[{"ApiKeyAuth":["read"]}],"parameters":[{"in":"query","name":"hiveId","description":"Only return Scouts running from the Custom Hives specified by these hive IDs.","style":"form","explode":false,"schema":{"type":"array","example":"1,2","items":{"type":"integer","format":"int32","minimum":1}}},{"in":"query","name":"cloudHive","description":"Only return Scouts running from the Cloud Hives specified by these hive IDs.","style":"form","explode":false,"schema":{"type":"array","example":"1,2","items":{"type":"integer","format":"int32","minimum":1}}},{"in":"query","name":"scoutName","description":"Filter by Scout name (partial match).","schema":{"type":"string"}},{"$ref":"#/components/parameters/Type"},{"$ref":"#/components/parameters/SubType"},{"in":"query","description":"Filter the list based on the interval (in minutes) of how often a Scout runs.","name":"interval","schema":{"type":"integer"}},{"in":"query","name":"disabled","description":"Use this parameter to only return disabled Scouts. By default, only enabled Scouts are returned.","schema":{"type":"boolean","enum":[0,1],"default":0}},{"in":"query","name":"username","description":"Only return Scouts that use this username to access the resource. This only applies to EUC Scouts.","schema":{"type":"string"}},{"in":"query","name":"page","description":"The page of Scouts to be returned. Each page contains up to 100 Scouts. If your request returns more than 100 Scouts, then the response is paginated.","schema":{"type":"integer"}},{"in":"query","name":"tags","description":"Only return Scouts with the specified tag IDs. You can use [GET /v1/organizations/{orgId}/tags](orgtagspubliccontroller_getall) to get the IDs of each tag.","style":"form","explode":false,"schema":{"type":"array","example":"07725341-3335-4f4a-a6d7-f64302546c7e,e3d5e40e-b0d5-4e59-b599-0f68834f4de9","items":{"type":"string","format":"uuid"}}}],"tags":["Scouts"],"responses":{"200":{"$ref":"#/components/responses/ScoutList"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/scouts?cloudHive=2&type=euc&username=TestBot1' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]},"post":{"summary":"Create a Scout","description":"Create a Scout to test EUC or network resources. Creating a Scout uses credits on your account. If you disable or delete the Scout, then the credits are returned to your account. See [License Information](https://support.controlup.com/docs/license-information) for more details.","operationId":"app.create_scout","security":[{"ApiKeyAuth":["write"]}],"requestBody":{"$ref":"#/components/requestBodies/ScoutCreate"},"tags":["Scouts"],"responses":{"201":{"description":"Scout created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"description":"Message indicating whether the request was successful.","type":"string"},"scoutId":{"description":"The ID of the recently created Scout.","type":"integer"},"scoutDetails":{"description":"The number of credits used to create the Scout.","type":"integer"},"availableCredits":{"description":"The number of remaining credits on your account.","type":"integer"},"totalCredits":{"description":"The total number of credits that have been purchased for your account.","type":"integer"}},"example":{"message":"Scout has been created.","scoutDetails":1000,"availableCredits":30000,"totalCredits":75000,"scoutId":1000}}}}},"400":{"$ref":"#/components/responses/ValidationError"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X POST 'https://api.scoutbees.io/honeycomb/v2/scouts' \\\n-H 'x-scoutbees-key: API-key-here' \\\n-H 'Content-Type: application/json' \\\n--data-raw '{\n    \"cloudHive\": 2,\n    \"subType\": \"citrix_gateway\",\n    \"address\": \"https://ns.example.com\",\n    \"scoutName\": \"NetScaler sample\",\n    \"interval\": 5,\n    \"resource\": \"Calculator\",\n    \"username\": \"TestBot1\",\n    \"password\": \"Swordfish\",\n    \"otp\": {\n        \"type\": \"static\",\n        \"code\": \"872960\"\n    },\n    \"options\": {\n        \"loginAttempts\": 2\n    }\n}'\n"}]}},"/scouts/{scoutId}":{"get":{"summary":"Get Scout info","description":"Returns the details of a specific Scout, and a summary of it's test results. By default, the summary uses test results from the last 24 hours.","operationId":"app.get_scout_by_id","security":[{"ApiKeyAuth":["read"]}],"parameters":[{"name":"scoutId","in":"path","description":"ID of the Scout.","required":true,"schema":{"type":"integer"}},{"name":"start","in":"query","description":"Start date and time of test results used for the summary.","schema":{"type":"string","format":"date-time"},"example":"2021-01-01 13:21:55"},{"name":"end","in":"query","description":"End date and time of the test results used for the summary.","schema":{"type":"string","format":"date-time"},"example":"2021-02-01 10:24:55"}],"tags":["Scouts"],"responses":{"200":{"$ref":"#/components/responses/ScoutItem"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/scouts/10354' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]},"put":{"summary":"Edit Scout","description":"Edits an existing Scout. Any parameters passed in this call will be updated to the new values. Unused parameters will not be changed.","operationId":"app.edit_scout","security":[{"ApiKeyAuth":["write"]}],"parameters":[{"name":"scoutId","in":"path","description":"ID of the Scout.","required":true,"schema":{"type":"integer"}}],"requestBody":{"$ref":"#/components/requestBodies/ScoutEdit"},"tags":["Scouts"],"responses":{"204":{"description":"Scout was edited successfully"},"400":{"$ref":"#/components/responses/ValidationError"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X PUT 'https://api.scoutbees.io/honeycomb/v2/scouts/10354' \\\n-H 'x-scoutbees-key: API-key-here' \\\n-H 'Content-Type: application/json' \\\n--data-raw '{\n    \"interval\": 10\n}'\n"}]},"delete":{"summary":"Delete Scout","description":"Deletes a Scout. This cannot be undone. Historical test result data for the Scout will still be available.\n\nThe credits used to create the Scout will be returned to your account.\n","operationId":"app.delete_scout","security":[{"ApiKeyAuth":["write"]}],"parameters":[{"name":"scoutId","in":"path","description":"ID of the Scout.","required":true,"schema":{"type":"integer"}}],"tags":["Scouts"],"responses":{"204":{"description":"Scout deleted"},"400":{"$ref":"#/components/responses/ValidationError"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X DELETE 'https://api.scoutbees.io/honeycomb/v2/scouts/10354' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]}},"/scouts/{scoutId}/disabled":{"post":{"summary":"Enable/disable Scout","description":"Enables or disables an existing Scout. A Scout only performs tests while it is enabled. \n\nEnabling a Scout uses credits on your account. Disabling a Scout returns the credits.\n","operationId":"app.disable_scout","security":[{"ApiKeyAuth":["write"]}],"parameters":[{"name":"scoutId","in":"path","description":"ID of the Scout.","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"disabled":{"description":"Set to `true` to disable the Scout. Set to `false` to enable the Scout.","type":"boolean"}},"required":["disabled"]}}}},"tags":["Scouts"],"responses":{"204":{"description":"Scout enabled/disabled"},"400":{"$ref":"#/components/responses/ValidationError"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X POST 'https://api.scoutbees.io/honeycomb/v2/scouts/10354/disabled' \\\n-H 'x-scoutbees-key: API-key-here' \\\n-H 'Content-Type: application/json' \\\n--data-raw '{\n    \"disabled\": true\n}'\n"}]}},"/mfas":{"get":{"summary":"List all MFA users","description":"Returns a list of usernames for EUC gateway access that are associated with a phone number for MFA.","operationId":"honeycomb.api.get_org_mfas","security":[{"ApiKeyAuth":["read"]}],"tags":["MFAs"],"responses":{"200":{"$ref":"#/components/responses/MFAList"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/mfas' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]}},"/tests":{"get":{"summary":"List tests","description":"Returns a list of test, containing the the details and results of each tests. The tests are grouped by their Scouts, with the earliest tests appearing first in each group.\n\nBy default, all tests from all Scouts in the last 24 hours are returned.\n","operationId":"app.get_tests","security":[{"ApiKeyAuth":["read"]}],"parameters":[{"in":"query","name":"start","description":"Only return tests initiated after this time.","schema":{"type":"string","format":"date-time"},"example":"2021-01-01 13:21:55"},{"in":"query","name":"end","description":"Only return tests initiated before this time. You must specify a `start` time to use this parameter.","schema":{"type":"string","format":"date-time"},"example":"2021-02-01 10:24:55"},{"in":"query","description":"Only return tests from the Scouts specified by these Scout IDs.","name":"scoutId","schema":{"type":"array","items":{"type":"integer"}},"style":"form","explode":false,"example":[1,2]},{"in":"query","name":"status","description":"Filter the list based on the status of the tests.","schema":{"type":"string","enum":["success","failure"]}},{"in":"query","name":"page","description":"The page of tests returned. Each page contains up to 100 tests. If your request returns more than 100 tests, then the response is paginated.","schema":{"type":"integer"}}],"tags":["Tests"],"responses":{"200":{"$ref":"#/components/responses/TestList"},"400":{"$ref":"#/components/responses/ValidationError"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/tests?scoutId=24,31&status=failure' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]}},"/hives":{"get":{"summary":"List all Custom Hives","description":"Returns a list of the Custom Hives in your organization.","operationId":"honeycomb.api.custom_hives","security":[{"ApiKeyAuth":["read"]}],"tags":["Hives"],"responses":{"200":{"$ref":"#/components/responses/HivesList"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/hives' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]}},"/cloud_hives":{"get":{"summary":"List all Cloud Hives","description":"Returns a list of Cloud Hives.","operationId":"honeycomb.api.cloud_hives","security":[{"ApiKeyAuth":["read"]}],"tags":["Hives"],"responses":{"200":{"$ref":"#/components/responses/CloudHivesList"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/cloud_hives' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]}},"/alerts":{"get":{"summary":"List all alerts","description":"Returns alerts generated within the specified time frame for all Scouts. The default time frame is the last 24 hours.","operationId":"app.get_alerts","security":[{"ApiKeyAuth":["read"]}],"parameters":[{"name":"start","in":"query","description":"Start date and time of the search. The start date can be up to 1 year in the past. The total search duration from the start time to the end time can be a maximum of 24 hours.","schema":{"type":"string","format":"date-time"},"example":"2021-01-01 13:21:55"},{"name":"end","in":"query","description":"End date and time of the search.","schema":{"type":"string","format":"date-time"},"example":"2021-02-01 10:24:55"},{"name":"page","in":"query","description":"The page of alerts to return. Each page contains up to 100 alerts. If your request returns more than 100 alerts, then the response is paginated.","schema":{"type":"integer"}}],"tags":["Alerts"],"responses":{"200":{"$ref":"#/components/responses/AlertItems"},"400":{"$ref":"#/components/responses/ValidationError"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/alerts?start=2023-09-25 02:29:47&end=2023-09-26 02:29:47' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]}},"/alerts/scouts":{"get":{"summary":"List Scout IDs with alerts","description":"Returns a list of Scout IDs that have triggered an alert within the specified time frame. The default time frame is the last 24 hours.\n","operationId":"honeycomb.api.get_scout_alerts","security":[{"ApiKeyAuth":["read"]}],"parameters":[{"in":"query","name":"start","description":"Start date and time of the search.","schema":{"type":"string","format":"date-time"},"example":"2021-01-01 13:21:55"},{"in":"query","name":"end","description":"End date and time of the search.","schema":{"type":"string","format":"date-time"},"example":"2021-02-01 10:24:55"}],"tags":["Alerts"],"responses":{"200":{"$ref":"#/components/responses/AlertList"},"400":{"$ref":"#/components/responses/ValidationError"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/alerts/scouts?start=2023-09-26 08:00:00&end=2023-09-27 01:30:00' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]}},"/alerts/{scoutId}":{"get":{"summary":"List alerts for a Scout","description":"Returns alerts generated within the specified time frame for a Scout. The default time frame is the last 24 hours.","operationId":"app.get_alert_for_scout","security":[{"ApiKeyAuth":["read"]}],"parameters":[{"name":"scoutId","in":"path","description":"ID of the Scout.","schema":{"type":"string"},"required":true},{"name":"start","in":"query","description":"Start date and time of the search. The start date can be up to 1 year in the past. The total search duration from the start time to the end time can be a maximum of 24 hours.","schema":{"type":"string","format":"date-time"},"example":"2023-09-26 08:00:00"},{"name":"end","in":"query","description":"End date and time of the search.","schema":{"type":"string","format":"date-time"},"example":"2023-09-27 01:30:00"},{"name":"page","in":"query","description":"The page of alerts to return. Each page contains up to 100 alerts. If your request returns more than 100 alerts, then the response is paginated.","schema":{"type":"integer"}}],"tags":["Alerts"],"responses":{"200":{"$ref":"#/components/responses/AlertItem"},"400":{"$ref":"#/components/responses/ValidationError"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/ServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/alerts/7852?start=2023-09-26 08:00:00&end=2023-09-27 01:30:00' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]}},"/scouts/{scoutId}/alerts":{"get":{"summary":"List alert policies for a Scout","description":"Returns all alert policies configured for a Scout. Currently, each Scout supports only a single alert policy.","operationId":"app.get_scout_alert_policies","security":[{"ApiKeyAuth":["read"]}],"parameters":[{"name":"scoutId","in":"path","description":"ID of the Scout.","schema":{"type":"integer"},"required":true}],"tags":["Alerts"],"responses":{"200":{"$ref":"#/components/responses/AlertSummaryList"},"400":{"$ref":"#/components/responses/New400"},"401":{"$ref":"#/components/responses/New401"},"404":{"$ref":"#/components/responses/New404"},"500":{"$ref":"#/components/responses/New500"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/scouts/7852/alerts' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]},"post":{"summary":"Create alert policy","description":"Creates a new alert policy for a Scout. A Scout can have only one alert policy. If one already exists, you can update it or delete it. Alerts trigger when the Scout's test results meet certain conditions.","operationId":"app.create_scout_alert","security":[{"ApiKeyAuth":["write"]}],"parameters":[{"name":"scoutId","in":"path","description":"ID of the Scout.","schema":{"type":"integer"},"required":true}],"requestBody":{"$ref":"#/components/requestBodies/AlertCreate"},"tags":["Alerts"],"responses":{"201":{"description":"Alert created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was successful."},"data":{"type":"object","properties":{"alertId":{"type":"integer","description":"ID of the created alert."}}}}}}}},"400":{"$ref":"#/components/responses/New400"},"401":{"$ref":"#/components/responses/New401"},"404":{"$ref":"#/components/responses/New404"},"500":{"$ref":"#/components/responses/New500"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X POST 'https://api.scoutbees.io/honeycomb/v2/scouts/7852/alerts' \\\n-H 'x-scoutbees-key: API-key-here' \\\n-H 'Content-Type: application/json' \\\n--data-raw '{\n    \"conditions\": {\n      \"field\": \"status\",\n      \"operator\": \"==\",\n      \"value\": \"failure\"\n    },\n    \"settings\": {\n      \"consecutiveMatchCount\": 2\n    }\n}'\n"}]}},"/scouts/{scoutId}/alerts/{alertId}":{"get":{"summary":"Get alert policy details","description":"Returns detailed information about a specific alert policy for a Scout, including settings, notifications, and status.","operationId":"app.get_scout_alert","security":[{"ApiKeyAuth":["read"]}],"parameters":[{"name":"scoutId","in":"path","description":"ID of the Scout.","schema":{"type":"integer"},"required":true},{"name":"alertId","in":"path","description":"ID of the Scout's alert policy. Currently, each Scout supports only a single alert policy.","schema":{"type":"integer"},"required":true}],"tags":["Alerts"],"responses":{"200":{"$ref":"#/components/responses/AlertDetails"},"400":{"$ref":"#/components/responses/New400"},"401":{"$ref":"#/components/responses/New401"},"404":{"$ref":"#/components/responses/New404"},"500":{"$ref":"#/components/responses/New500"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/scouts/7852/alerts/123' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]},"patch":{"summary":"Update alert policy","description":"Updates an existing alert policy for a specific Scout. Any object not passed is unchanged.","operationId":"app.update_scout_alert","security":[{"ApiKeyAuth":["write"]}],"parameters":[{"name":"scoutId","in":"path","description":"ID of the Scout.","schema":{"type":"integer"},"required":true},{"name":"alertId","in":"path","description":"ID of the Scout's alert policy. Currently, each Scout supports only a single alert policy.\nYou can use [GET /scouts/{scoutId}/alerts](appget_scout_alert_policies) to get the ID of a Scout's alert policy.\n","schema":{"type":"integer"},"required":true}],"requestBody":{"$ref":"#/components/requestBodies/AlertUpdate"},"tags":["Alerts"],"responses":{"200":{"description":"Alert was updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was successful."},"data":{"type":"object","properties":{"alertId":{"type":"integer","description":"ID of the updated alert."}}}}}}}},"400":{"$ref":"#/components/responses/New400"},"401":{"$ref":"#/components/responses/New401"},"404":{"$ref":"#/components/responses/New404"},"500":{"$ref":"#/components/responses/New500"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X PATCH 'https://api.scoutbees.io/honeycomb/v2/scouts/7852/alerts/123' \\\n-H 'x-scoutbees-key: API-key-here' \\\n-H 'Content-Type: application/json' \\\n--data-raw '{\n    \"disabled\": true,\n    \"conditions\": {\n      \"field\": \"status\",\n      \"operator\": \"==\",\n      \"value\": \"failure\"\n    },\n    \"settings\": {\n      \"consecutiveMatchCount\": 2\n    }\n}'\n"}]},"delete":{"summary":"Delete alert policy","description":"Deletes an Scout's alert policy.","operationId":"app.delete_scout_alert","security":[{"ApiKeyAuth":["write"]}],"parameters":[{"name":"scoutId","in":"path","description":"ID of the Scout.","schema":{"type":"integer"},"required":true},{"name":"alertId","in":"path","description":"ID of the Scout's alert policy. Currently, each Scout supports only a single alert policy.","schema":{"type":"integer"},"required":true}],"tags":["Alerts"],"responses":{"204":{"description":"Alert was deleted successfully"},"400":{"$ref":"#/components/responses/New400"},"401":{"$ref":"#/components/responses/New401"},"404":{"$ref":"#/components/responses/New404"},"500":{"$ref":"#/components/responses/New500"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X DELETE 'https://api.scoutbees.io/honeycomb/v2/scouts/7852/alerts/123' \\\n-H 'x-scoutbees-key: API-key-here' \\\n-H 'Content-Type: application/json' \n"}]}},"/integrations":{"get":{"summary":"List all integrations","description":"Returns a list of active external integrations available for alert notifications.","operationId":"honeycomb.api.get_org_integrations","security":[{"ApiKeyAuth":["read"]}],"tags":["Integrations"],"responses":{"200":{"$ref":"#/components/responses/IntegrationList"},"401":{"$ref":"#/components/responses/New401"},"404":{"$ref":"#/components/responses/New404"},"500":{"$ref":"#/components/responses/New500"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X GET 'https://api.scoutbees.io/honeycomb/v2/integrations' \\\n-H 'x-scoutbees-key: API-key-here'\n"}]}}},"components":{"parameters":{"Type":{"in":"query","name":"type","description":"Filter the list based on the Scout type.","schema":{"type":"string","enum":["euc","network","application"]}},"SubType":{"in":"query","name":"subType","description":"Filter the list based on the Scout sub-type.","schema":{"type":"string","enum":["vmware_horizon","vmware_w1","vmware_secsrv","citrix_gateway","citrix_cloud","citrix_storefront","avd","net_ping","net_dns","net_traceroute","net_http","shell","entra_id","siteload","ms_exchange","ms_teams","web_transactions","mail"]}}},"schemas":{"AlertItem":{"title":"Alert data","description":"Details of the Scout's alert configuration and each time the alert was triggered.","allOf":[{"$ref":"#/components/schemas/SubType"},{"type":"object","properties":{"conditions":{"type":"array","description":"The alert policy conditions for the Scout. These conditions must be met for the Scout to trigger an alert.","items":{"oneOf":[{"type":"object","title":"Single condition","properties":{"conditionType":{"type":"string","description":"How the test result `property` must relate to the `value` for the alert to trigger.","enum":["==","!=",">",">=","<","<=","contains","not_contains"]},"property":{"description":"The test result property used for the alert condition.","type":"string","example":"status"},"value":{"description":"The reference value used for the alert condition.","type":"string","example":"success"}}},{"type":"object","title":"Multiple conditions with AND/OR operators","properties":{"conds":{"description":"An array containing the alert conditions for the Scout. The array contains additional 'conds' arrays if there are nested alert conditions (for example, X AND (Y OR Z)).","type":"array","items":{"type":"object","properties":{"conditionType":{"type":"string","description":"How the test result `property` must relate to the `value` for the alert to trigger.","enum":["==","!=",">",">=","<","<=","contains","not_contains"]},"property":{"description":"The test result property used for the alert condition.","type":"string","example":"status"},"value":{"description":"The reference value used for the alert condition.","type":"string","example":"success"}}}},"operator":{"description":"AND or OR operator for the alert conditions in the `conds` array.","type":"string","enum":["AND","OR"]}}}]}},"scoutId":{"description":"The Scout's ID.","type":"integer"},"triggers":{"type":"array","description":"An array containing an entry for each time an alert is triggered, or is no longer triggered and returns to a normal status.\n\nIn addition to the documented properties below, each entry also contains the test result values that caused the trigger to activate or return to a normal status. The names of these properties are dynamic and depend on the alert configuration.\n","items":{"type":"object","description":"Additionally will contain properties that define in conditions under name `prop`","properties":{"alertLevel":{"description":"The Scout's alert status. The status is \"TRIGGERED\" for each time the alert is triggered, which can be multiple times in a row. The status is \"OK\" only when the alert policy is no longer triggered and the Scout returns to a normal status.","type":"string","enum":["OK","TRIGGERED"]},"cloudHive":{"type":"integer","description":"ID of the Cloud Hive running the Scout that triggered the alert."},"hiveId":{"type":"integer","description":"ID of the Custom Hive running the Scout that triggered the alert."},"stateCount":{"description":"A counter that increases by 1 for each subsequent time the alert status is \"TRIGGERED\". `stateCount` starts at -1, and returns to -1 when the alert status is \"OK\".","type":"integer"},"time":{"type":"string","format":"date-time","description":"The date and time of the alert.","example":"2021-01-01 13:21:55"}}}}}}]},"AlertSummary":{"title":"Alert Summary","description":"Summary information about an alert policy for a Scout.","type":"object","properties":{"alertId":{"type":"integer","description":"ID of the alert policy.","example":123},"scoutId":{"type":"integer","description":"ID of the Scout.","example":7852},"subType":{"type":"string","description":"Scout platform/subtype.","enum":["citrix_gateway","citrix_cloud","citrix_storefront","avd","vmware_horizon","vmware_cloud","vmware_w1","vmware_secsrv","net_ping","net_traceroute","net_dns","net_http","siteload","shell","entra_id","ms_exchange","ms_teams","web_transactions"],"example":"net_http"},"conditions":{"$ref":"#/components/schemas/AlertTerminalRuleResponse","description":"Alert conditions that must be met for the alert to trigger. \n\nThe response structure can vary as an alert policy can have multiple nested conditions in condition groups with AND/OR operators. \nSee the [POST /scouts/{scoutId}/alerts](appcreate_scout_alert) request body for more detailed information about the conditions object.\n"},"readableConditions":{"type":"string","description":"Human-readable representation of the alert conditions.","example":"status == failure"}},"required":["alertId","scoutId","subType","conditions"]},"AlertDetails":{"title":"Alert Details","description":"Detailed information about an alert policy for a Scout.","allOf":[{"$ref":"#/components/schemas/AlertSummary"},{"type":"object","properties":{"settings":{"$ref":"#/components/schemas/AlertTriggerSettings","description":"Settings that control when and how the alert is triggered."},"notifications":{"type":"array","description":"Settings that control notifications that are sent when the alert is triggered.","items":{"$ref":"#/components/schemas/AlertNotification"},"default":[]},"status":{"type":"string","description":"Current status of the alert.","nullable":true,"example":"active"},"createdAt":{"type":"string","format":"date-time","description":"Date and time when the alert policy was created.","example":"2023-09-26 08:00:00"},"disabled":{"type":"boolean","description":"Indicates whether the alert policy is enabled or disabled.","example":false}}}]},"AlertConditions":{"title":"Alert Conditions","description":"Defines the test results that trigger an alert. Select your Scout type to see how to create conditions for that Scout type.\n","oneOf":[{"title":"EUC Scouts","oneOf":[{"$ref":"#/components/schemas/AlertConditionObjectCitrix"},{"$ref":"#/components/schemas/AlertConditionObjectCitrixCloud"},{"$ref":"#/components/schemas/AlertConditionObjectCitrixStorefront"},{"$ref":"#/components/schemas/AlertConditionObjectVmware"},{"$ref":"#/components/schemas/AlertConditionObjectAvd"}]},{"title":"Infrastructure Scouts","oneOf":[{"$ref":"#/components/schemas/AlertConditionObjectHttp"},{"$ref":"#/components/schemas/AlertConditionObjectDns"},{"$ref":"#/components/schemas/AlertConditionObjectTraceroute"},{"$ref":"#/components/schemas/AlertConditionObjectPing"},{"$ref":"#/components/schemas/AlertConditionObjectShell"},{"$ref":"#/components/schemas/AlertConditionObjectAzureAd"}]},{"title":"Application Scouts","oneOf":[{"$ref":"#/components/schemas/AlertConditionObjectExchange"},{"$ref":"#/components/schemas/AlertConditionObjectTeams"},{"$ref":"#/components/schemas/AlertConditionObjectSiteload"},{"$ref":"#/components/schemas/AlertConditionObjectWebTransactions"}]}]},"AlertTerminalRule":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\nYou must select one of the test results that applies for your type of Scout. [Read this article]() to see which test results are valid for each type of Scout. If you select a field that isn't applicable for your Scout type, you'll receive an error.\n","enum":["authPhase","avgJitter","avgLatency","avgPacketLoss","avgRtt","bodySize","catalogName","certExpDays","connPhase","connectTime","contentfulPaint","desktopGroup","dest","domComplete","domInteractive","domainLookup","downloadSize","duration","durationReady","errorCode","enumTime","failReason","firstPaint","hops","httpBodySize","httpConnectTime","httpCertExpDays","httpFailReason","httpLatency","httpNamelookupTime","httpRedirectCount","httpRedirectTime","httpResponseTime","httpStatus","httpStatusCode","httpTlsHandshakeTime","httpTotalBytes","httpTtfb","icaRtt","icaTime","imgAnomalyScore","jitter","lastAvgRtt","lastJitter","lastLoss","latency","loadDuration","loadSize","loginAttempts","logonDuration","maxJitter","maxPacketLoss","maxRtt","minJitter","minPacketLoss","minRtt","namelookupTime","onPremisesLastSyncDateTime","onPremisesSyncEnabled","packetsLoss","processingDuration","queryDuration","ready","redirectCount","redirectTime","requestsNumber","responseTime","result","runtime","serverName","sess","sslVerTime","status","statusCode","stderrLen","stdoutLen","stepsDuration","tlsHandshakeTime","totalBytes","totalDuration","ttfb","userQueryDuration","waitDuration"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. Type can be string, integer, float, or boolean \ndepending on the field type.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertConditionGroup":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditions"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertFieldsBase":{"type":"object","properties":{"status":{"type":"string","description":"Overall status for the test, either `success` or `failure`.","enum":["success","failure"]},"failReason":{"type":"string","description":"The reason that the test failed."}}},"AlertTriggerSettings":{"title":"Alert Trigger Settings","description":"Settings that control when and how alerts are triggered.\n","type":"object","properties":{"sendOnStatusChange":{"type":"boolean","description":"If `true`, notifications are sent only when the alert status changes, to prevent excessive notifications. This means that if the Scout\ntriggers the alert 10 times in a row, you'll receive one notification when the Scout first triggers the alert, and another notification\nwhen the Scout recovers.\n\nIf `false`, notifications are sent every time the alert triggers. This means that if something goes wrong and the Scout\nstarts triggering the alert, you'll receive a notification every time the Scout runs.\n","default":true,"example":true},"consecutiveMatchCount":{"type":"integer","description":"Number of consecutive test results that must match the alert conditions before \nthe alert is triggered. This helps prevent false positives from temporary issues.\n","minimum":1,"default":1,"example":2},"attachOutput":{"type":"boolean","description":"Relevant for Shell Scouts only. Attach the test output to alert notifications. When enabled, the notification \npayload will include additional details about the test result that triggered the alert.\n","nullable":true,"example":true},"evaluationScope":{"type":"string","description":"Scope for evaluating consecutive matches.\n\n- `GLOBAL`: Evaluate consecutive matches across all specified hives (or all hives if targetHives is not specified).\n  The alert triggers when the required consecutive count is met across any combination of the target hives.\n- `PER_HIVE`: Evaluate consecutive matches separately for each hive. \n  The alert triggers when any single hive meets the required consecutive count.\n","enum":["GLOBAL","PER_HIVE"],"default":"GLOBAL","example":"GLOBAL"},"targetHives":{"title":"Target Hives","description":"Sets which hives to include in the consecutive match evaluation.\nThis is only used when `evaluationScope` is set to `GLOBAL`. \nIf not specified when evaluationScope is GLOBAL, all hives are evaluated.\n","type":"object","properties":{"cloudHiveIds":{"type":"array","description":"List of Cloud Hive IDs to include in alert evaluation","items":{"type":"integer","format":"int32","minimum":1},"default":[]},"customHiveIds":{"type":"array","description":"List of Custom Hive IDs to include in alert evaluation","items":{"type":"integer","format":"int32","minimum":1},"default":[],"example":{"cloudHiveIds":[1,2,3],"customHiveIds":[4,5]}}}}}},"AlertNotification":{"title":"Alert Notification","description":"Notifications sent when the Scout triggers the alert. If no notifications are selected, you can still view \neach time the alert has triggered using the API endpoints.\n","oneOf":[{"$ref":"#/components/schemas/AlertEmailNotification"},{"$ref":"#/components/schemas/AlertWebhookNotification"},{"$ref":"#/components/schemas/AlertIntegrationNotification"}]},"AlertIntegrationNotification":{"title":"Integration Notification","type":"object","required":["type","integrationId"],"properties":{"type":{"type":"string","const":"INTEGRATION","description":"Notification type identifier."},"integrationId":{"type":"integer","description":"Integration ID. You can get the ID of your integrations by inspecting the integrations page in your browser, or by asking ControlUp Support."}}},"AlertEmailNotification":{"title":"Email Notification","type":"object","required":["type","targets"],"properties":{"type":{"type":"string","description":"Notification type identifier.","enum":["EMAIL"]},"targets":{"type":"array","description":"List of email addresses.","items":{"type":"string","format":"email"}}}},"AlertWebhookNotification":{"title":"Webhook Notification","type":"object","required":["type","url"],"properties":{"type":{"type":"string","const":"WEBHOOK","description":"Notification type identifier."},"url":{"type":"string","format":"uri","description":"Webhook URL where alert notifications will be sent."},"authentication":{"title":"Webhook Authentication","description":"Authentication configuration for the webhook request. If not provided, no authentication will be used.","oneOf":[{"type":"object","title":"Basic Authentication","required":["type","username","password"],"properties":{"type":{"type":"string","enum":["BASIC"]},"username":{"type":"string","description":"Username for basic authentication."},"password":{"type":"string","description":"Password for basic authentication."}}},{"type":"object","title":"Token Authentication","required":["type","token"],"properties":{"type":{"type":"string","enum":["TOKEN"]},"token":{"type":"string","description":"Token for authentication."}}}]},"headers":{"type":"array","nullable":true,"description":"Custom HTTP headers to include in the webhook request.","items":{"title":"Webhook Header","type":"object","required":["name","value"],"properties":{"name":{"type":"string","description":"Header name."},"value":{"type":"string","description":"Header value."}}}},"fields":{"type":"array","nullable":true,"description":"Custom fields to include in the webhook payload.","items":{"title":"Webhook Field","type":"object","required":["name","value"],"properties":{"name":{"type":"string","description":"Field name."},"value":{"type":"string","description":"Field value."}}}}}},"AlertConditionObjectCitrix":{"title":"Citrix","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleCitrix"},{"$ref":"#/components/schemas/AlertConditionGroupCitrix"}]},"AlertConditionObjectCitrixCloud":{"title":"Citrix Cloud","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleCitrixCloud"},{"$ref":"#/components/schemas/AlertConditionGroupCitrixCloud"}]},"AlertConditionObjectCitrixStorefront":{"title":"Citrix Storefront","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleCitrixStorefront"},{"$ref":"#/components/schemas/AlertConditionGroupCitrixStorefront"}]},"AlertConditionObjectVmware":{"title":"Horizon","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleVmware"},{"$ref":"#/components/schemas/AlertConditionGroupVmware"}]},"AlertConditionObjectAvd":{"title":"Microsoft AVD","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleAvd"},{"$ref":"#/components/schemas/AlertConditionGroupAvd"}]},"AlertConditionObjectHttp":{"title":"HTTP/S","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleHttp"},{"$ref":"#/components/schemas/AlertConditionGroupHttp"}]},"AlertConditionObjectDns":{"title":"DNS","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleDns"},{"$ref":"#/components/schemas/AlertConditionGroupDns"}]},"AlertConditionObjectTraceroute":{"title":"Traceroute","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleTraceroute"},{"$ref":"#/components/schemas/AlertConditionGroupTraceroute"}]},"AlertConditionObjectPing":{"title":"Ping","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRulePing"},{"$ref":"#/components/schemas/AlertConditionGroupPing"}]},"AlertConditionObjectShell":{"title":"Shell","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleShell"},{"$ref":"#/components/schemas/AlertConditionGroupShell"}]},"AlertConditionObjectAzureAd":{"title":"Microsoft Entra ID","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleAzureAd"},{"$ref":"#/components/schemas/AlertConditionGroupAzureAd"}]},"AlertConditionObjectExchange":{"title":"Microsoft Exchange Online","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleExchange"},{"$ref":"#/components/schemas/AlertConditionGroupExchange"}]},"AlertConditionObjectTeams":{"title":"Microsoft Teams","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleTeams"},{"$ref":"#/components/schemas/AlertConditionGroupTeams"}]},"AlertConditionObjectSiteload":{"title":"Site load","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleSiteload"},{"$ref":"#/components/schemas/AlertConditionGroupSiteload"}]},"AlertConditionObjectWebTransactions":{"title":"Web Transactions","description":"To create an Alert policy based on a single condition (for example, status == 'failure'), select `Condition`.\n\nTo create an Alert policy based on multiple conditions (for example, status == 'failure' OR jitter > 30ms), select `Condition group`, choose the operator for the conditions in the group (AND/OR), and add your conditions.\nYou can nest condition groups (to combine AND and OR statements) by adding a condition group within another condition group.\n","oneOf":[{"$ref":"#/components/schemas/AlertTerminalRuleWebTransactions"},{"$ref":"#/components/schemas/AlertConditionGroupWebTransactions"}]},"AlertTerminalRuleCitrix":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Property Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| imgAnomalyScore | Image Anomaly Score. | number (float) |\n| authPhase | Authentication Duration (seconds). | number (float) |\n| connPhase | Connecting to Session Duration (seconds). | number (float) |\n| durationReady | Total Time to Session Ready (secconds). | number (float) |\n| enumTime | Resources Enumeration Duration (seconds). | number (integer) |\n| ready | Session Handoff (Ready) Duration (seconds). | number (float) |\n| sess | Session Initialization Duration (seconds). | number (integer) |\n| loginAttempts | Login Attempts. | number (integer) |\n| icaTime | ICA Download Duration (seconds). | number (integer) |\n| serverName | Server Name. | string |\n","enum":["status","failReason","imgAnomalyScore","authPhase","connPhase","durationReady","enumTime","ready","sess","loginAttempts","icaTime","serverName"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleCitrixCloud":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| imgAnomalyScore | Image Anomaly Score. | number (float) |\n| authPhase | Authentication Duration (seconds). | number (float) |\n| connPhase | Connecting to Session Duration (seconds). | number (float) |\n| durationReady | Total Time to Session Ready (seconds). | number (float) |\n| enumTime | Resources Enumeration Duration (seconds). | number (integer) |\n| ready | Session Handoff (Ready) Duration (seconds). | number (float) |\n| sess | Session Initialization Duration (seconds). | number (integer) |\n| loginAttempts | Login Attempts. | number (integer) |\n| icaTime | ICA Download Duration (seconds). | number (float) |\n","enum":["status","failReason","imgAnomalyScore","authPhase","connPhase","durationReady","enumTime","ready","sess","loginAttempts","icaTime"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleCitrixStorefront":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| imgAnomalyScore | Image Anomaly Score. | number (float) |\n| authPhase | Authentication Duration (seconds). | number (float) |\n| connPhase | Connecting to Session Duration (seconds). | number (float) |\n| durationReady | Total Time to Session Ready (seconds). | number (float) |\n| enumTime | Resources Enumeration Duration (seconds). | number (integer) |\n| ready | Session Handoff (Ready) Duration (seconds). | number (float) |\n| sess | Session Initialization Duration (seconds). | number (integer) |\n| loginAttempts | Login Attempts. | number (integer) |\n| icaTime | ICA Time. | number (integer) |\n| serverName | Server Name. | string |\n| catalogName | VDA's Machine Catalog Name. | string |\n| desktopGroup | VDA's Delivery Group Name. | string |\n| icaRtt | ICA RTT (ms). | number (integer) |\n| logonDuration | Session Logon Duration (seconds). | number (float) |\n","enum":["status","failReason","imgAnomalyScore","authPhase","connPhase","durationReady","enumTime","ready","sess","loginAttempts","icaTime","serverName","catalogName","desktopGroup","icaRtt","logonDuration"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleVmware":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| imgAnomalyScore | Image Anomaly Score. | number (float) |\n| authPhase | Authentication Duration (seconds). | number (float) |\n| connPhase | Connecting to Session Duration (seconds). | number (float) |\n| durationReady | Total Time to Session Ready (seconds). | number (float) |\n| enumTime | Resources Enumeration Duration (seconds). | number (integer) |\n| ready | Session Handoff (Ready) Duration (seconds). | number (float) |\n| sess | Session Initialization Duration (seconds). | number (integer) |\n| loginAttempts | Login Attempts. | number (integer) |\n| serverName | Server Name. | string |\n","enum":["status","failReason","imgAnomalyScore","authPhase","connPhase","durationReady","enumTime","ready","sess","loginAttempts","serverName"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleAvd":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| imgAnomalyScore | Image Anomaly Score. | number (float) |\n| authPhase | Authentication Duration (seconds). | number (float) |\n| connPhase | Connecting to Session Duration (seconds). | number (float) |\n| durationReady | Total Time to Session Ready (seconds). | number (float) |\n| enumTime | Resources Enumeration Duration (seconds). | number (integer) |\n| ready | Session Handoff (Ready) Duration (seconds). | number (float) |\n| sess | Session Initialization Duration (seconds). | number (integer) |\n| loginAttempts | Login Attempts. | number (integer) |\n| serverName | Server Name. | string |\n","enum":["status","failReason","imgAnomalyScore","authPhase","connPhase","durationReady","enumTime","ready","sess","loginAttempts","serverName"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleHttp":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| dest | Destination. | string |\n| statusCode | Status Code. | number (integer) |\n| latency | Total Duration (ms). | number (float) |\n| namelookupTime | Name Lookup Time (ms). | number (float) |\n| connectTime | Connect Time (ms). | number (float) |\n| tlsHandshakeTime | TLS Handshake Time (ms). | number (float) |\n| responseTime | Response Time (ms). | number (float) |\n| ttfb | Time to First Byte (ms). | number (float) |\n| redirectTime | Redirects Time (ms). | number (float) |\n| redirectCount | Redirects. | number (integer) |\n| certExpDays | Certificate Expiration Days. | number (integer) |\n| totalBytes | Response Size (bytes). | number (integer) |\n| bodySize | Response Body Size (bytes). | number (integer) |\n","enum":["status","failReason","dest","statusCode","latency","namelookupTime","connectTime","tlsHandshakeTime","responseTime","ttfb","redirectTime","redirectCount","certExpDays","totalBytes","bodySize"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleDns":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| result | Result. | string |\n| runtime | Response Time (ms). | number (float) |\n","enum":["status","failReason","result","runtime"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleTraceroute":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| avgRtt | Avg. Latency (ms). | number (float) |\n| hops | Number of hops. | number (integer) |\n| dest | Destination. | string |\n| minRtt | Min Latency (ms). | number (float) |\n| maxRtt | Max Latency (ms). | number (float) |\n| lastAvgRtt | Last Hop's Latency (ms). | number (float) |\n| avgJitter | Avg Jitter (ms). | number (float) |\n| minJitter | Min Jitter (ms). | number (float) |\n| maxJitter | Max Jitter (ms). | number (float) |\n| lastJitter | Last Hop's Jitter (ms). | number (float) |\n| avgPacketLoss | Avg packet loss percentage across all hops. | number (integer) |\n| minPacketLoss | Min packet loss percentage for individual hop. | number (integer) |\n| maxPacketLoss | Max packet loss percentage for indivudal hop. | number (integer) |\n| lastLoss | Last hop's packet loss percentage. | number (integer) |\n","enum":["status","failReason","avgRtt","hops","dest","minRtt","maxRtt","lastAvgRtt","avgJitter","minJitter","maxJitter","lastJitter","avgPacketLoss","minPacketLoss","maxPacketLoss","lastLoss"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRulePing":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| avgRtt | Avg. Response Time (ms). | number (float) |\n| minRtt | Min Response Time (ms). | number (float) |\n| maxRtt | Max Response Time (ms). | number (float) |\n| jitter | Jitter (ms). | number (float) |\n","enum":["status","failReason","avgRtt","minRtt","maxRtt","jitter"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleShell":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| runtime | Avg. Response Time (ms). | number (float) |\n| errorCode | Exit Code. | number (integer) |\n| stdoutLen | STDOUT Length. | number (integer) |\n| stderrLen | STDERR Length. | number (integer) |\n","enum":["status","failReason","runtime","errorCode","stdoutLen","stderrLen"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleAzureAd":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| userQueryDuration | User Query Duration (seconds). | number (float) |\n| queryDuration | Organization Query Duration (seconds). | number (float) |\n| onPremisesSyncEnabled | Sync Enabled. | boolean |\n| onPremisesLastSyncDateTime | Last Sync Date Difference (minutes). | number (integer) |\n","enum":["status","failReason","userQueryDuration","queryDuration","onPremisesSyncEnabled","onPremisesLastSyncDateTime"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleExchange":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| avgRtt | Avg. Response Time (ms). | number (float) |\n| minRtt | Min Response Time (ms). | number (float) |\n| maxRtt | Max Response Time (ms). | number (float) |\n| jitter | Jitter (ms). | number (float) |\n","enum":["status","failReason","avgRtt","minRtt","maxRtt","jitter"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleTeams":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| packetsLoss | Relay packets loss percentage. | number (float) |\n| avgLatency | Relay Avg. Latency (ms). | number (float) |\n| avgJitter | Relay Jitter (ms). | number (float) |\n| httpStatusCode | Edge Status Code. | number (integer) |\n| httpLatency | Edge Total Duration (ms). | number (float) |\n| httpNamelookupTime | Edge Name Lookup Time (ms). | number (float) |\n| httpConnectTime | Edge Connect Time (ms). | number (float) |\n| httpTlsHandshakeTime | Edge TLS Handshake Time (ms). | number (float) |\n| httpResponseTime | Edge Response Time (ms). | number (float) |\n| httpTtfb | Edge Time to First Byte (ms). | number (float) |\n| httpRedirectTime | Edge Redirects Time (ms). | number (float) |\n| httpRedirectCount | Edge Redirects. | number (integer) |\n| httpCertExpDays | Edge Certificate Expiration Days. | number (integer) |\n| httpTotalBytes | Edge Response Size (bytes). | number (integer) |\n| httpBodySize | Edge Response Body Size (bytes). | number (integer) |\n| httpStatus | Edge Health Test Status. | string |\n| httpFailReason | Edge Health Failure Reason. | string |\n","enum":["status","failReason","packetsLoss","avgLatency","avgJitter","httpStatusCode","httpLatency","httpNamelookupTime","httpConnectTime","httpTlsHandshakeTime","httpResponseTime","httpTtfb","httpRedirectTime","httpRedirectCount","httpCertExpDays","httpTotalBytes","httpBodySize","httpStatus","httpFailReason"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleSiteload":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| dest | Destination. | string |\n| duration | Total Duration (ms). | number (float) |\n| downloadSize | Download Size (bytes). | number (integer) |\n| firstPaint | First Paint (ms). | number (float) |\n| contentfulPaint | Contentful Paint (ms). | number (integer) |\n| domComplete | DOM Complete (ms). | number (float) |\n| requestsNumber | Requests Number. | number (integer) |\n| sslVerTime | SSL Verification Time (ms). | number (float) |\n| redirectTime | Redirect Time (ms). | number (float) |\n| domInteractive | DOM Interactive (ms). | number (float) |\n| domainLookup | Domain Lookup (ms). | number (float) |\n| ttfb | Time to First Byte (ms). | number (float) |\n| waitDuration | Wait duration (ms). | number (float) |\n| responseDuration | Response duration (ms). | number (float) |\n| processingDuration | Processing (ms). | number (float) |\n| loadDuration | Load (ms). | number (float) |\n| bodySize | Response Body Size (bytes). | number (integer) |\n| loadSize | Load Size (bytes). | number (integer) |\n","enum":["status","failReason","dest","duration","downloadSize","firstPaint","contentfulPaint","domComplete","requestsNumber","sslVerTime","redirectTime","domInteractive","domainLookup","ttfb","waitDuration","responseDuration","processingDuration","loadDuration","bodySize","loadSize"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleWebTransactions":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n\n| Field Name | Description | Type |\n| :--- | :--- | :--- |\n| status | Overall status for the test, either **`success`** or **`failure`**. | string |\n| failReason | The reason that the test failed. | string |\n| dest | Destination. | string |\n| totalDuration | Total Duration (ms). | number (float) |\n| stepsDuration | Steps Duration (ms). | number (float) |\n| duration | Page Load - Duration (ms). | number (float) |\n| firstPaint | Page Load - First Paint (ms). | number (float) |\n| contentfulPaint | Page Load - Contentful Paint (ms). | number (integer) |\n| domainLookup | Page Load - Domain Lookup (ms). | number (float) |\n| domInteractive | Page Load - DOM Interactive (ms). | number (float) |\n| downloadSize | Download Size (bytes). | number (integer) |\n","enum":["status","failReason","dest","totalDuration","stepsDuration","duration","firstPaint","contentfulPaint","domainLookup","domInteractive","downloadSize"]},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n* For string fields, use `==`, `!=`, `contains`, `not_contains`.\n* For number fields, use `>`, `<`, `>=`, `<=`, `==`, `!=`\n* For boolean fields, use `==`, `!=`.\n","enum":[">","<",">=","<=","==","!=","contains","not_contains"],"example":"=="},"value":{"description":"Value to compare against. The data type must match the data type of the test result property in the `field` parameter.\n","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"}],"example":"failure"}}},"AlertTerminalRuleResponse":{"title":"Condition","description":"A single alert condition that evaluates a test result property.","type":"object","properties":{"field":{"type":"string","description":"The test result property to compare against.\n"},"operator":{"type":"string","description":"Comparison operator for evaluating the condition.\n","example":"=="},"value":{"description":"Value to compare against.\n","example":"failure"}}},"AlertConditionGroupCitrix":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectCitrix"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupCitrixCloud":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectCitrixCloud"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupCitrixStorefront":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectCitrixStorefront"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupVmware":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectVmware"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupAvd":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectAvd"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupHttp":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectHttp"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupDns":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectDns"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupTraceroute":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectTraceroute"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupPing":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectPing"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupShell":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectShell"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupAzureAd":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectAzureAd"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupExchange":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectExchange"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupTeams":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectTeams"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupSiteload":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectSiteload"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertConditionGroupWebTransactions":{"title":"Condition Group","description":"Group of conditions or condition groups with AND/OR operators. Supports nesting up to 5 levels deep.\n","type":"object","required":["operator","rules"],"properties":{"operator":{"type":"string","description":"Logical operator for combining rules in this group.","enum":["AND","OR"],"example":"AND"},"rules":{"type":"array","description":"List of conditions or condition groups. Must contain at least \n1 and at most 5 items.\n","minItems":1,"maxItems":5,"items":{"$ref":"#/components/schemas/AlertConditionObjectWebTransactions"},"example":[{"field":"status","operator":"==","value":"failure"},{"operator":"OR","rules":[{"field":"latency","operator":">","value":80},{"field":"packetLoss","operator":">","value":90}]}]}}},"AlertCreateRequest":{"title":"Alert Create Request","description":"Request schema for creating a new alert for a Scout","type":"object","required":["conditions"],"properties":{"conditions":{"$ref":"#/components/schemas/AlertConditions"},"settings":{"$ref":"#/components/schemas/AlertTriggerSettings"},"notifications":{"type":"array","description":"Notification configurations for when alerts are triggered. This field is optional.\n\nIf no notifications are configured, you can still get information about each time the alert has triggered using the alerts API endpoints.\n","items":{"$ref":"#/components/schemas/AlertNotification"}}}},"AlertUpdateRequest":{"title":"Alert Update Request","description":"Request schema for updating an alert for a Scout","type":"object","properties":{"disabled":{"type":"boolean","description":"Indicates whether the alert is enabled or disabled."},"conditions":{"$ref":"#/components/schemas/AlertConditions"},"settings":{"$ref":"#/components/schemas/AlertTriggerSettings"},"notifications":{"type":"array","description":"Notification configuration.\n","items":{"$ref":"#/components/schemas/AlertNotification"}}}},"ScoutSummary":{"title":"Summary","description":"Statistics about the Scout's test results.","type":"object","properties":{"startTime":{"type":"string","format":"date-time","description":"Start date and time of the test results used for summary statistics."},"endTime":{"type":"string","format":"date-time","description":"End date and time of the test results used for summary statistics."},"successfulTests":{"type":"integer","description":"The number of successful tests within the search period."},"totalTests":{"type":"integer","description":"The total number of tests within the search period."},"totalSuccess":{"type":"number","format":"float","description":"Percentage of tests that are successful within the search period."}},"oneOf":[{"title":"EUC Scout","type":"object","properties":{"sessionReadyAvg":{"type":"number","format":"float","description":"Average time for the session to be ready in seconds."},"sessionReadyMax":{"type":"number","format":"float","description":"Maximum time for the session to be ready in seconds."},"sessionReadyMedian":{"type":"number","format":"float","description":"Median time for the session to be ready in seconds."},"sessionReady95Percentile":{"type":"number","format":"float","description":"95th percentile of the time for the session to be ready in seconds."},"authPhaseAvg":{"type":"number","format":"float","description":"Average authentication time in seconds."},"enumTimeAvg":{"type":"number","format":"float","description":"Average enumeration time in seconds."},"icaTimeAvg":{"type":"number","format":"float","description":"Average ICA download time in seconds."},"connPhaseAvg":{"type":"number","format":"float","description":"Average connection time in seconds."},"initAvg":{"type":"number","format":"float","description":"Average session initialization time in seconds."},"readyAvg":{"type":"number","format":"float","description":"Average session handoff (ready) duration in seconds."}}},{"title":"Network Scout","oneOf":[{"type":"object","title":"Ping","properties":{"avgRttAvg":{"type":"number","format":"float","description":"Average response time in ms."},"avgRttMax":{"type":"number","format":"float","description":"Maximum response time in ms."},"avgRttMedian":{"type":"number","format":"float","description":"Median response time in ms."},"avgRtt95Percentile":{"type":"number","format":"float","description":"95th percentile of the response time in ms."},"jitterAvg":{"type":"number","format":"float","description":"Average jitter in ms."}}},{"type":"object","title":"DNS","properties":{"runtimeAvg":{"type":"number","format":"float","description":"Average response time in ms."},"runtimeMax":{"type":"number","format":"float","description":"Maximum response time in ms."},"runtimeMedian":{"type":"number","format":"float","description":"Median response time in ms."},"runtime95Percentile":{"type":"number","format":"float","description":"95th percentile of the response time in ms."}}},{"type":"object","title":"Traceroute","properties":{"avgRttAvg":{"type":"number","format":"float","description":"Average response time in ms."},"avgRttMax":{"type":"number","format":"float","description":"Maximum response time in ms."},"avgRttMedian":{"type":"number","format":"float","description":"Median response time in ms."},"avgRtt95Percentile":{"type":"number","format":"float","description":"95th percentile the response time in ms."}}},{"type":"object","title":"HTTP/S","properties":{"latencyAvg":{"type":"number","format":"float","description":"Average latency in ms."},"latencyMax":{"type":"number","format":"float","description":"Maximum latency in ms."},"latencyMedian":{"type":"number","format":"float","description":"Median latency in ms."},"latency95Percentile":{"type":"number","format":"float","description":"95th percentile of the latency in ms."},"namelookupTimeAvg":{"type":"number","format":"float","description":"Average name lookup time in ms."},"connectTimeAvg":{"type":"number","format":"float","description":"Average connection time in ms."},"tlsHandshakeTimeAvg":{"type":"number","format":"float","description":"Average TLS handshake time in ms."},"responseTimeAvg":{"type":"number","format":"float","description":"Average response time in ms."},"ttfbAvg":{"type":"number","format":"float","description":"Average time to first byte in ms."},"redirectTimeAvg":{"type":"number","format":"float","description":"Average redirect time in ms."}}},{"type":"object","title":"Shell","properties":{"runtimeAvg":{"type":"number","format":"float","description":"Average shell command execution duration in ms."},"runtimeMax":{"type":"number","format":"float","description":"Maximum shell command execution duration in ms."},"runtimeMedian":{"type":"number","format":"float","description":"Median shell command execution duration in ms."},"runtime95Percentile":{"type":"number","format":"float","description":"95th percentile of the shell command execution duration in ms."}}},{"type":"object","title":"Entra ID","properties":{"userQueryDurationAvg":{"type":"number","format":"float","description":"Average duration of the user lookup query against Entra ID, in ms."},"userQueryDurationMax":{"type":"number","format":"float","description":"Maximum duration of the user lookup query against Entra ID, in ms."},"userQueryDurationMedian":{"type":"number","format":"float","description":"Median duration of the user lookup query against Entra ID, in ms."},"userQueryDuration95Percentile":{"type":"number","format":"float","description":"95th percentile of the user lookup query duration, in ms."},"queryDurationAvg":{"type":"number","format":"float","description":"Average duration of the directory query against Entra ID, in ms."}}}]},{"title":"Application Scout","oneOf":[{"type":"object","title":"Siteload","properties":{"durationAvg":{"type":"number","format":"float","description":"Average page load duration in ms."},"durationMax":{"type":"number","format":"float","description":"Maximum page load duration in ms."},"durationMedian":{"type":"number","format":"float","description":"Median page load duration in ms."},"duration95Percentile":{"type":"number","format":"float","description":"95th percentile of the page load duration in ms."},"ttfbAvg":{"type":"number","format":"float","description":"Average time to first byte in ms."},"firstPaintAvg":{"type":"number","format":"float","description":"Average time until the first paint event in ms."},"contentfulPaintAvg":{"type":"number","format":"float","description":"Average time until the first contentful paint event in ms."},"domCompleteAvg":{"type":"number","format":"float","description":"Average time until the DOM reached the complete state in ms."}}},{"type":"object","title":"Microsoft Teams","properties":{"avgLatencyAvg":{"type":"number","format":"float","description":"Average round-trip latency to the Teams relay in ms."},"avgLatencyMax":{"type":"number","format":"float","description":"Maximum round-trip latency to the Teams relay in ms."},"avgLatencyMedian":{"type":"number","format":"float","description":"Median round-trip latency to the Teams relay in ms."},"avgLatency95Percentile":{"type":"number","format":"float","description":"95th percentile of the round-trip latency in ms."},"avgJitterAvg":{"type":"number","format":"float","description":"Average jitter observed during the media test in ms."},"packetsLossAvg":{"type":"number","format":"float","description":"Average packet loss ratio across tests, as a percentage."},"httpLatencyAvg":{"type":"number","format":"float","description":"Average total time to receive the HTTP signaling response in ms."}}},{"type":"object","title":"Web Transactions","properties":{"totalDurationAvg":{"type":"number","format":"float","description":"Average total transaction duration including all steps in ms."},"totalDurationMax":{"type":"number","format":"float","description":"Maximum total transaction duration in ms."},"totalDurationMedian":{"type":"number","format":"float","description":"Median total transaction duration in ms."},"totalDuration95Percentile":{"type":"number","format":"float","description":"95th percentile of the total transaction duration in ms."},"stepsDurationAvg":{"type":"number","format":"float","description":"Average cumulative duration of the user-defined steps after the initial page load, in ms."}}},{"type":"object","title":"Mail","properties":{"deliveryDurationAvg":{"type":"number","format":"float","description":"Average end-to-end mail delivery duration in ms."},"deliveryDurationMax":{"type":"number","format":"float","description":"Maximum end-to-end mail delivery duration in ms."},"deliveryDurationMedian":{"type":"number","format":"float","description":"Median end-to-end mail delivery duration in ms."},"deliveryDuration95Percentile":{"type":"number","format":"float","description":"95th percentile of the end-to-end mail delivery duration in ms."},"emailServerProcessDurationAvg":{"type":"number","format":"float","description":"Average time spent processing on the customer email server, in ms."},"clientToEmailServerDurationAvg":{"type":"number","format":"float","description":"Average duration from client send to the customer email server, in ms."},"emailServerToDestinationDurationAvg":{"type":"number","format":"float","description":"Average duration from the customer email server to the destination mailbox, in ms."},"deliveryDurationToEmailServerAvg":{"type":"number","format":"float","description":"Average delivery duration up to the customer email server, in ms."}}}]
[...]
